@mixin ease-in-out($seconds) {
	-webkit-transition: all $seconds ease-in-out;
	-moz-transition: all $seconds ease-in-out;
	-o-transition: all $seconds ease-in-out;
	transition: all $seconds ease-in-out;
}

@mixin center-width($width, $margin) {
	width: $width;
	margin: $margin;
}

@mixin hover-dark($amount) {
	filter: brightness($amount);
	-webkit-filter: brightness($amount);
	-moz-filter: brightness($amount);
	-o-filter: brightness($amount);
	-ms-filter: brightness($amount);
}

@mixin hover-bright($amount) {
	filter: opacity($amount);
	-webkit-filter: opacity($amount);
	-moz-filter: opacity($amount);
	-o-filter: opacity($amount);
	-ms-filter: opacity($amount);
}

@mixin opacity($amount) {
	-moz-opacity: $amount;
	-khtml-opacity: $amount;
	-webkit-opacity: $amount;
	opacity: $amount;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$amount * 10000);
	filter: alpha(opacity=$amount * 10000);
}
