//Default colors
$black: #000;
$white: #fff;

//Greys
$lightgrey: #d7d7d7;
$midgrey: #bbb;
$semigrey: #888;
$darkgrey: #555;
$verydarkgrey: #333;

$selection: #cecece; //font color used for any text selection.

//Colors
$red: #f00;
$darkred: #aa0000;

//Specials
$rebeccapurple: #663399;
