@import 'base';
@import '../fonts/_fonts.css';
@import 'default.css';
@import 'colors';

body {

}

h1,
h2,
h3,
h4,
p {
	font-family: 'Minion';
	font-style: normal;
	font-weight: 100;
}

a {
	@include ease-in-out(.4s);
}


.clear {
	clear: both;
}

%page-line {
	height: 1px;
	width: 100%;
}

.page-line-grey {
	@extend %page-line;
	background-color: $lightgrey;
}

//Main navigation

header {
	nav {
		@include center-width(80%, 0 auto);
	}
}

ul {
	float: right;
	margin: 20px 0;
	padding: 0;
	list-style: none;
	line-height: normal;



	li {
		font-family: 'Proxima Nova';
		font-weight: 200;
		font-size: .813em;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: right;
		display: inline;
		padding: 0 10px;

		a {
			color: $midgrey;
			text-decoration: none;
		}

		a:hover,
		a:focus {
			color: $black;
		}
	}
}

//Portfolio

header.portfolio {

	@include center-width(80%, 100px auto);

	h1 {
		font-size: 3em;
		margin: 0 0 12px;
	}

	h2 {
		font-size: 2.5em;
		font-style: italic;
		margin: 0;
	}
}

section.portfolio {
	@include center-width(80%, 0 auto 40px);

	img {
		@include center-width(40%, 40px 0 0 0);
	}

}

//Images
.left-img {
	float: left;
}

.right-img {
	float: right;
}
