@import 'base';
@import '../fonts/_fonts.css';
@import 'default.css';
@import 'colors';

body {

}

h1,
h2,
h3,
h4,
p {
	font-family: 'Minion';
	font-style: normal;
	font-weight: 100;
}

a {
	@include ease-in-out(.4s);
}

.page-line {
	width: 100%;
	height: 1px;
	clear: both;
}

.page-line-grey {
	@extend .page-line;
	background-color: $lightgrey;
}

/*Main navigation*/

header {
	nav {
		width: 80%;
		margin: 0 auto;
	}
}

ul {
	list-style: none;
	margin: 20px 0 20px;
	padding: 0;
	line-height: normal;
	float: right;

	li {
		font-family: 'Proxima Nova';
		font-weight: 200;
		font-size: 0.813em;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: right;
		display: inline;
		padding: 0 10px;

		a {
			text-decoration: none;
			color: $midgrey;
		}
		a:hover,
		a:focus {
			color: $black;
		}
	}
}

/*Portfolio*/

header.portfolio {

	width: 80%;
	margin: 100px auto;

	h1 {
		margin: 0 0 12px;
		font-size: 3em;
	}

	h2 {
		margin: 0;
		font-style: italic;
		font-size: 2.5em;
	}
}