@import 'base';
@import 'http://beta.nothingrandom.com/fonts/_fonts.css';
@import '_default';
@import 'colors';

$sans-serif: Proxima Nova, sans-serif;
$serif: Minion, Georgia, Times, serif;

$global-ease: .4s;
$link-ease: .1s;
$global-width: 80%;

h1,
h2,
h3,
h4,
p {
	font-family: $serif;
	font-style: normal;
	font-weight: 100; //Minion is > 400 for the regular, and there is nothing below that. Use 100 incase this changes in future.
}

p {
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 1em 0;
	color: $black;
}

p.last,
img.last {
	margin-bottom: 0 !important;
}

a {
	@include ease-in-out($link-ease);
	text-decoration: none;
	background-image: linear-gradient(to top,
		/*rgba(0, 0, 0, 0) 11%,
		rgba(0, 0, 0, 1) 11%,
		rgba(0, 0, 0, 1) 16%,
		rgba(0, 0, 0, 0) 11%*/
		transparent 10%,
		currentColor 10%,
		currentColor 14%,
		transparent 10%
	);
	text-shadow:
		.025em 0 0 $white,
		-.025em 0 0 $white,
		.05em 0 0 $white,
		-.05em 0 0 $white,
		.075em 0 0 $white,
		-.075em 0 0 $white;
}

a,
a.visited {
	color: $semigrey;
}

a:hover,
a:focus,
a:active {
	color: $black;
}

::selection {
	background-color: $selection;
}

a::selection {
	text-shadow:
		.025em 0 0 $selection,
		-.025em 0 0 $selection,
		.05em 0 0 $selection,
		-.05em 0 0 $selection,
		.075em 0 0 $selection,
		-.075em 0 0 $selection;
}

.clear {
	clear: both;
}

%page-line {
	height: 1px;
	width: 100%;
}

.page-line-red {
	@extend %page-line;
	background-color: $darkred;
}

.page-line-grey {
	@extend %page-line;
	background-color: $lightgrey;
}

.page-line-short-grey {
	height: 1px;
	width: 100px;
	background-color: $midgrey;
	margin: 15px auto;
}

.page-line-medium-grey {
	height: 1px;
	width: 250px;
	background-color: $lightgrey;
	margin: 19px auto 0;
	//19px because the height is 1.
}

//Main navigation

header {
	nav {
		@include center-width($global-width, 0 auto);

		ul {
			float: right;
			margin: 20px 0;

			li {
				font-family: $sans-serif;
				font-weight: 200;
				font-size: .875em;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-align: right;
				display: inline;
				padding: 0 15px;

				a {
					@include ease-in-out($global-ease);
					color: $midgrey;
					text-decoration: none;
					background-image: none;
					text-shadow: none;
				}

				a:hover,
				a:focus,
				a:active {
					color: $black;
				}
			}

			li:last-child {
				padding: 0 0 0 10px;
			}
		}
	}
}

ul {
	padding: 0;
	list-style: none;
	line-height: normal;

}

//Portfolio

header.portfolio {

	@include center-width($global-width, 100px auto 55px);

	h1 {
		font-size: 2.25em;
		//margin: 0 0 12px;
	}

	h2 {
		font-size: 2.5em;
		font-style: italic;
		margin: 0;
	}
}

section.portfolio {
	@include center-width($global-width, 35px auto 75px);

	.box {
		position: relative;
		display: inline;
		vertical-align: middle;

		h3,
		h4 {
			margin: 0;
			text-align: center;
			line-height: 1.375em;
		}

		h3 {
			font-family: $sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1em;
			//font-weight: 600;
		}

		h4 {
			font-style: italic;
			color: $darkgrey;
			font-size: 1.125em;
		}

		a,
		a:visited {
			color: $black;
			text-decoration: none;
			background-image: none;
			text-shadow: none;
		}
	}

	.hover {
		@include opacity(0);
		@include ease-in-out($global-ease);
		-webkit-user-select: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		height: 30%;
		margin: 0 0 0 -40%;
	}

	.box:hover .hover,
	.box:focus .hover,
	.box:active .hover {
		display: block;
		@include opacity(1);
	}

	%img {
		@include ease-in-out($global-ease);
		pointer-events: auto;
		display: inline;
		vertical-align: middle;
	}

	//18px margin (36 total) seems to move the hover caption. Need to find a fix.
	.left-img {
		@extend %img;
		@include center-width(48%, 40px 18px 0 0);
	}

	.right-img {
		@extend %img;
		@include center-width(48%, 40px 0 0 18px);
	}

	.large-img {
		@extend %img;
		@include center-width(100%, 40px 0 0 0);
	}

	.box:hover img,
	.box:focus img,
	.box:active img {
		@include hover-bright(.4);
	}
}


//About and blog mixed styles

.content.about,
.content.blog,
.content.blog-post,
.content.project {
	@include center-width($global-width, 0 auto 70px);

}

header.about,
header.blog,
header.blog-post,
header.project {
	@include center-width(100%, 100px 0 75px);

	h1 {
		font-size: 2.25em;
		margin: 0;
		text-align: center;
		//line-height: 1.25em;
	}

	img {
		width: 100%;
		margin: 75px 0 0;
	}
}

//About

section.profile-picture {
	@include center-width(25%, 0 auto);
	float: left;
}

section.about {
	@include center-width(50%, 0 auto);
	float: left;

	h2 {
		margin-top: 0;
		font-size: 1.625em;
		font-style: italic;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 70px;
	}

	/*a {
		color: $black;
	}

	a:hover,
	a:focus,
	a:active {
		background-image: linear-gradient(to top,
		transparent 10%,
		$darkred 10%,
		$darkred 14%,
		transparent 10%
	);
	}*/
}

section.about-sidebar {
	@include center-width(25%, 0);
	float: left;

	article {
		float: right;
		width: 200px;
		//margin-left: 56px;
	}

	h4 {
		font-family: $sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: .875em;
		margin: 0;
	}

	ul {
		margin: 7px 0 25px;
	}

	li {
		font-family: $serif;
		color: $semigrey;
		font-size: 1em;
		line-height: 1.25em;
	}

	a,
	a.visited {
		color: $semigrey;
		background-image: none;
	}

	a:hover,
	a:focus,
	a:hover {
		color: $black;
	}
}

section.instagram {
	clear: both;
	@include center-width(100%, 0 auto);

	img {
		width: 18%;
		margin-left: 1.5%;
		pointer-events: auto;
	}

	img:first-child {
		margin-left: 1.675%;
	}
}

//Blog

section.blog {
	//@include center-width(100%, 0 auto);

	h2 {
		font-size: 1.625em;
		margin: 0;
	}

	h3 {
		font-family: $sans-serif;
		text-transform: uppercase;
		font-size: .875em;
		letter-spacing: 2px;
		color: $darkgrey;
		margin: 5px 0 15px;
	}

	p {
		margin: 0 0 35px;
	}

	h2 a {
		color: $black;
	}

	h2 a:hover,
	h2 a:focus,
	h2 a:active {
		color: $semigrey;
	}
}

//Blog Post

section.blog-post,
section.project {

	header {
		@include center-width(75%, 0 auto);

		h2 {
			@include center-width(100%, 75px auto 50px);
			font-size: 1.25em;
			line-height: 1.25em;
		}

		section {
			display: inline;
			width: 33%;
			float: left;
			vertical-align: top;
			text-align: center;
			margin: 2px 0 0;

			h3 {
				margin: 0 0 5px;
				font-family: $sans-serif;
				font-size: .875em;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: $darkgrey;
			}

			p {
				margin: 0 !important;
				font-size: 1.125em;
				color: $semigrey;
			}
		}

	}
}

section.blog-post {

	article {
		@include center-width(75%, 0 auto);
		margin: 75px auto 0;

		h2:first-child {
			margin: 0;
		}

		h2 {
			margin: 2em 0 0;
			font-size: 1.625em;
		}

		p {
			text-indent: 2em;
			margin: 1em 0;
		}

		p.image-caption {
			margin: 0;
			text-indent: 0;
			text-align: center;
			font-style: italic;
			font-size: 1.125em;
		}

		img {
			display: block;
			margin: 10px auto;
		}
	}
}

section.project {

	header {

		a {
			background-image: none;
		}
	}

	img.project-main-image {
		@include center-width(100%, 45px auto 55px);
	}

	img {
		@include center-width(100%, 30px auto);
	}

	h4 {
		font-family: $sans-serif;
		letter-spacing: 2px;
		font-size: 1em;
		margin: 0;
		text-transform: uppercase;
	}

	p {
		margin: .5em 0;
	}

	p:last-child {
		margin: .5em 0 0;
	}

	article {
		margin: .938em 0;
	}

	.project-left,
	.project-right {
		display: inline;
		float: left;
		vertical-align: top;
		width: 50%;


		img {
			width: 75%;
			float: right;
			margin: 0;
		}
	}

}

section.back-forward {
	@include center-width(80%, 40px auto);
	font-size: 1.25em;

	a {
		background-image: none;
		text-shadow: none;
	}
}

section.back-forward.blog-arrows {
	@include center-width(60%, 40px auto);
}

.left-arrow,
.right-arrow {
	vertical-align: top;
}

.left-arrow {
	float: left;
}

.right-arrow {
	float: right;
}

.left-arrow-content p,
.right-arrow-content p {
	margin: 0;
	font-style: italic;
	color: $semigrey;
	line-height: .688em;
}

.left-arrow-content p:hover,
.right-arrow-content p:hover {
	color: $black;
}

.hidden-arrow,
section.back-forward a {
	@include ease-in-out($global-ease);
}

p.tweet-arrow {
	font-size: .875em;
}

.hidden-arrow {
	font-size: .688em;
	@include opacity(0);
}

.left-arrow:hover .hidden-arrow,
.left-arrow:focus .hidden-arrow,
.left-arrow:active .hidden-arrow,
.right-arrow:hover .hidden-arrow,
.right-arrow:focus .hidden-arrow,
.right-arrow:active .hidden-arrow {
	@include opacity(1);
	@include ease-in-out(0);
}

//Videos

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//Footer

footer {
	margin: 50px 0;

	p {
		text-align: center;
		margin: 0;
		color: $semigrey;
		font-size: 1em;
		line-height: 1em;
	}

	.email {
		font-style: italic;
	}

	a,
	a:visited {
		@include ease-in-out($global-ease);
		color: #808080;
		text-decoration: none;
		background-image: none;
		text-shadow: none;
	}

	a:hover,
	a:focus,
	a:active {
		color: $black;
	}
}
