---
layout: layouts/base.njk

title: Page not found

permalink: /404/index.html
---
<div class='section section--standard section--404'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='section__header'>
        <h2>{{ title }}</h2>
      </div>
      <p>This page could not be found.</p>
      <p>
        <a href='/'>Return home</a>
      </p>
    </div>
  </div>
</div>
