---
layout: layouts/base.njk

tags:
  - nav

navtitle: Home
navorder: 1

permalink: /index.html
---
<div class='section section--intro'>
  <div class='row row--md-padding'>
    <div class='col col-xs-12 col-sm-6 col-md-5'>
      <div class='text__wrapper'>
        <h1>Hey, I'm Benjamin.</h1>
        <h2>A Javascript engineer based in Amsterdam.</h2>
        <h3>I also <a href='/food' class='link--hero'>cook food</a>, cycle, <a href='/blog' class='link--hero'>write blog posts</a>, mix live & studio sound, create and listen to indie pop, <a href='https://github.com/nothingrandom' class='link--hero'>contribute to open source</a>, and enjoy discovering new cafes.</h3>
      </div>
    </div>
    <div class='col col-xs-12 col-sm-6 col-md-7'>
      <div class='profile-pic end-xs'>
        <img src='img/benjamin-2019-2-horrec-web.jpg' alt='A picture of Benjamin' />
      </div>
    </div>
  </div>
</div>

<div class='section section--projects'>
  <div class='row row--md-padding center-md'>
    <div class='col col-xs-12 col-md-8 text-left'>
      <div class='section__header'>
        <h2>Projects</h2>
        <p>These are the six repos on GitHub I pushed to most recently.</p>
      </div>
      <div class='row projects__wrapper'>
        {% for repo in github.myRecentRepos %}
          <div class='col-xs-12 col-sm-6 project__item'>
            <h4 class='project__header'>
              <a href='{{ repo.html_url }}' target='_blank'>{{ repo.name }}</a>
              <span class='project__tag project__language--{% lowercase repo.language %}'>{{ repo.language }}</span>
            </h4>
            <p class='project__description'>{{ repo.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>