$palettes: (
	white: (
		base: #FFFFFF
	),
	black: (
		base: #000000
	),
	grey: (
		base: #1C1C1C,
		dark: #333333,
		mid: #686868,
		light: #F7F7F7
	),
	blue: (
		base: #89B7D1
	),
	purple: (
		base: #662DE5
	)
);
