$palettes: (
	white: (
		base: #FFFFFF
	),
	black: (
		base: #000000
	),
	grey: (
		base: #888888,
		light: #D7D7D7,
		mid: #BBBBBB,
		dark: #555555,
		mid-dark: #444444,
		x-dark: #333333,
		selection: #CECECE
	),
	red: (
		base: #CC0000
	),
	yellow: (
		base: #FFBF00
	),
	green: (
		base: #8DB600
	)
);
