// @include font-face("Font Name", "/path/to/font", 400, normal);

@include font-face("Proxima Nova", "../fonts/proximanova-light-webfont", 300, normal);

@include font-face("Minion", "../fonts/MinionPro-Disp", normal, normal);

@include font-face("Minion", "../fonts/MinionPro-ItDisp", normal, italic);

$sans-serif: Proxima Nova, sans-serif;
$serif: Minion, Georgia, Times, serif;

h1,
h2,
h3,
p,
li {
	font-family: $serif;
	font-weight: 300;
	font-style: normal;
}

h2 {
	font-size: em(26px);
}

h3 {
	font-size: em(20px);
}

h4 {
	font-family: $sans-serif;
	font-size: em(14px);
	font-weight: 300;
	font-style: normal;
	letter-spacing: em(2px);
	text-transform: uppercase;
}

p {
	margin: em(16px) 0;
	color: palette(black);
	// font-size: em(20px);
	font-size: em(18px);
	letter-spacing: em(.25px);
	line-height: em(20px);
}

.text--italic {
	font-style: italic;
}

.text--image-caption {
	font-size: em(18px);
}

.text--left {
	text-align: left;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}
