$base-font-size: 16px !default;

// Screen breakpoints
// ==============================
$screen-sm: 40em;
$screen-md: 64em;
$screen-lg: 90em;
$screen-xl: 120em;

// Grid settings
// ==============================
$grid-width: em(1920px);
$grid-gutter: em(28px);
$grid-columns: 12;

$page-border: 30px;
$transition-time: .2s;

%position-stretch {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
