// Import barebones scss structure
@import "utilities", "reset", "variables", "colors", "fonts";

// Grid
@import "grid";

html {
	@include font-smoothing(on);
	font-size: $base-font-size;
}

// YOUR STYLES HERE
// ==============================
@import "sections/links", "sections/header", "sections/footer", "sections/video", "sections/page-sections", "sections/index", "sections/profile", "sections/blog", "sections/portfolio";

.page-line {
	width: 100%;
	height: em(1px);

	&.page-line--short {
		max-width: 100px;
		margin: em(15px) auto;
	}

	&.page-line--medium {
		max-width: 250px;
		margin: em(19px) auto;
	}

	&.page-line--grey {
		background-color: palette(grey, light);
	}

	&.page-line--mid {
		background-color: palette(grey, mid);
	}
}

::selection {
	background-color: palette(grey, selection);
}

a::selection {
	text-shadow:
	em(1px) 0 0 palette(grey, selection),
	em(-1px) 0 0 palette(grey, selection),
	em(2px) 0 0 palette(grey, selection),
	em(-2px) 0 0 palette(grey, selection),
	em(3px) 0 0 palette(grey, selection),
	em(-3px) 0 0 palette(grey, selection);
}

@import "mobile";
