{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}
  <div class="page page--index">
    <div class="section section--intro">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <h2>Hello,<br />I'm Benjamin.</h2>
            <h1>Frontend Engineer & Musician based in Amsterdam.</h1>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="profile-pic">
              <div class="row end-xs">
                <img src="images/benjamin-hollway.jpg" />
                <a class="scroll" href="#more">more <span class="scroll--arrow"><i class="far fa-long-arrow-down"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row intro__blurb" id="more">
          <p>I currently work at the IoT & satellite startup <a href="https://hiber.global">Hiber</a>, building their <span class="highlight">frontend</span> <span class="highlight">web</span> <span class="highlight">systems</span> with a mix of ES6, Vue, lodash, SCSS, and pure magic. I've also been known to use React and Living Styleguides in the past.</p>
          <p>Every once in a while I'll either be creating or contributing to an <a href="https://github.com/nothingrandom">open source</a> project, and a little more frequently than that I mix <span class="highlight">live</span> <span class="highlight">sound</span> and dream of making it into a real studio.</p>
          <p>During my downtime, I enjoy cycling to new locations to take pictures a little more off the beaten track, even when there is a perfectly operational train route. My wife, <a href='http://pausefornoeffect.com/'>Indy</a>, and I love to create <span class="highlight">indie</span> <span class="highlight">pop</span> <span class="highlight">music</span> with our assortment of synths and guitars.</p>
          <p>We moved to <span class="highlight">Amsterdam</span> together in March 2017 to join a young church, and feel like this big but small city matches our personalities. If you're ever in Amsterdam and share my love for halloumi, coffee, local beers, or obscure indie music, let's chat.</p>
        </div>
      </div>
    </div>

    <div class="section section--projects">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Projects<span class="highlight--text">:</span></h2>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Frontend</h3>
                <ul>
                  <li class="blog__item">
                    <a href="https://github.com/nothingrandom/barebonesio" class="blog__link">
                      <h4 class="blog__title">barebonesio</h4>
                      <h5 class="blog__subtitle">A collection of scss mixins to get web projects started</h5>
                      <p>View on GitHub <i class="far fa-long-arrow-right"></i></p>
                    </a>
                  </li>
                  <li class="blog__item">
                    <a href="https://github.com/nothingrandom/browser-reset" class="blog__link">
                      <h4 class="blog__title">browser-reset</h4>
                      <h5 class="blog__subtitle">A NPM package for resetting browsers</h5>
                      <p>View on GitHub <i class="far fa-long-arrow-right"></i></p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <h3>Music</h3>
                <p>Coming 2018.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--blog">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Writing<span class="highlight--text">:</span></h2>
            <p>Follow me on <a href="https://medium.com/@nothingrandom">Medium</a>.</p>
            <ul id="js-blog">
              <!-- <li class="blog__item">
                <a href="">
                  <h4 class="blog__title">Title</h4>
                  <h5 class="blog__subtitle">A collection of my most listened tracks, since I started tracking my listening habits</h5>
                  <p>Read article <i class="far fa-long-arrow-right"></i></p>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--contact" id="contact">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Let's connect<span class="highlight--text">:</span></h2>
            <p>The best way to get in touch with me is via social media.</p>
          </div>
          <div class="col-xs-12">
            <ul>
              <li><a href="https://twitter.com/nothingrandom">twitter</a></li>
              <li><a href="https://instagram.com/benjaminhollway">instagram</a></li>
              <li><a href="https://github.com/nothingrandom">github</a></li>
              <li><a href="https://open.spotify.com/user/nothingrandom">spotify</a></li>
              <li><a href="https://medium.com/@nothingrandom">medium</a></li>
              <li><a href="https://www.linkedin.com/in/benjaminhollway/">linkedin</a></li>
            </ul>
          </div>
          <!-- <div class="col-xs-12">
            <p><a href="cv.pdf">CV / resume pdf download</a></p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="section section--photos">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1539118728766-1644317759dd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d628ea82bdf95d524d6b0789b172416e&auto=format&fit=crop&w=2102&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1538770150529-c830e35d3089?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43dca1013eea2d73d1bf1d620e5110f8&auto=format&fit=crop&w=2100&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1539118904301-522b09f066f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4cd7b16872007f9ec27b1c218f651f04&auto=format&fit=crop&w=3300&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1539118844456-01d798597f1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjkzMjh9&s=36eae5ccfdd262303cb030ce1790ca06&auto=format&fit=crop&w=2100&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1539118791385-9fa99c1e65d5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3031e32d7a3b44d28d875ac9156c8000&auto=format&fit=crop&w=2100&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1538769807488-d71992287790?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13eed4df9af20d3f81ac93cc25d49c63&auto=format&fit=crop&w=2100&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1538769098098-0697429d2408?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=369699487c06c0f61f21493248af9da6&auto=format&fit=crop&w=2100&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1538769909205-35a9e6833004?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=359a97bdc9b09a832fd49d15c71e505f&auto=format&fit=crop&w=2102&q=80" />
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="https://images.unsplash.com/photo-1538987163315-cfa1fe1aa10f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=550039374a538f8a8f847b309542bdcc&auto=format&fit=crop&w=2100&q=80" />
          </div>
        </div>
      </div>
    </div>

    <div class="section--footer">
      <a href="http://nothingrandom.com" class="logo color">
        <span>
          B<span class="collapse"><em>e</em><em>n</em><em>j</em><em>a</em><em>m</em><em>i</em><em>n</em></span>.
        </span>
      </a>
    </div>
  </div>
  {% endblock %}
