{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}
  <div class="page page--index">
    <div class="section section--intro">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <h2>Hello,<br /> I'm Benjamin</h2>
            <h1>Frontend developer, musician, and creative based in Amsterdam.</h1>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="profile-pic">
              <div class="row end-xs">
                <img src="https://dunked.cdn.speedyrails.net/assets/prod/6471/p1bpu6pj69ffk2k784u1nk91lp73.jpg" />
                <a class="scroll">more <span class="scroll--arrow"><i class="far fa-long-arrow-down"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p>I have more than 4 years experience working as a frontend developer, focusing on animation, <span class="highlight">simplicity</span>, and user interaction.</p>
          <p>My ideal working eviroment consists of a collaborative mulitdisciplinary team, that share my <span class="highlight">love</span> <span class="highlight">of</span> <span class="highlight">halloumi</span> <span class="highlight">and</span> <span class="highlight">coffee</span> (or IPAs).</p>
          <p>When I'm not logged in, I'm either cycling to a new scenic location or creating <span class="highlight">electronica</span> <span class="highlight">music</span> with my lovely wife, <a>Indy</a>.</p>
        </div>
      </div>
    </div>

    <div class="section section--work">
      <div class="container-fluid container">
        <div class="row">
          <h2>Work<span class="highlight--text">:</span></h2>
          <p>After working with clients from all over the globe, prototyping and building successful websites and products I have a lot of projects I could show off. This is a small selection of some of my favourites.</p>
        </div>
      </div>
    </div>

    <div class="section section--blog">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Writing<span class="highlight--text">:</span></h2>
            <ul id="js-blog">
              <!-- <li class="blog__item">
                <a href="">
                  <h4 class="blog__title">Title</h4>
                  <h5 class="blog__subtitle">A collection of my most listened tracks, since I started tracking my listening habits</h5>
                  <p>Read article <i class="far fa-long-arrow-right"></i></p>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--contact">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Let's connect<span class="highlight--text">:</span></h2>
            <p>The best way to get in touch about new projects is by email; <a href="mailto:hey@nothingrandom.com">hey@nothingrandom.com</a></p>
          </div>
          <div class="col-xs-12">
            <ul>
              <li><a href="https://twitter.com/nothingrandom">twitter</a></li>
              <li><a href="https://instagram.com/benjaminhollway">instagram</a></li>
              <li><a href="https://github.com/nothingrandom">github</a></li>
              <li><a href="https://open.spotify.com/user/nothingrandom">spotify</a></li>
              <li><a href="https://dribbble.com/nothingrandom">dribbble</a></li>
              <li><a href="https://www.linkedin.com/in/benjaminhollway/">linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
