{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}
  <div class="page page--index">
    <div class="section section--intro">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <h2>Hello,<br />I'm Benjamin.</h2>
            <h1>Frontend Engineer & Musician based in Amsterdam.</h1>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="profile-pic">
              <div class="row end-xs">
                <img src="images/benjamin-hollway.jpg" />
                <a class="scroll" href="#more">more <span class="scroll--arrow"><i class="far fa-long-arrow-down"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row intro__blurb" id="more">
          <p>I have more than 4 years experience working as a frontend engineer, focusing on animation, <span class="highlight">simplicity</span>, and user interaction. Some of my preferred technologies are ES6, Vue, React, lodash, SCSS, and Living Syle Guides.</p>
          <p>I currently work at <a href="https://hiber.global">Hiber</a>, and will occasionally contribute to the odd <a href="https://github.com/nothingrandom">open source</a> project in my spare time.</p>
          <p>If you're ever in <span class="highlight">Amsterdam</span> and share my love of halloumi and coffee (or IPAs) - let's jam.</p>
          <p>When I'm not logged in, I'm either exploring the Netherlands by bike, or creating <span class="highlight">electronica</span> <span class="highlight">music</span> with my lovely wife, <a>Indy</a>.</p>
        </div>
      </div>
    </div>

    <div class="section section--projects">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Projects<span class="highlight--text">:</span></h2>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Frontend</h3>
                <ul>
                  <li class="blog__item">
                    <a href="https://github.com/nothingrandom/barebonesio" class="blog__link">
                      <h4 class="blog__title">barebonesio</h4>
                      <h5 class="blog__subtitle">A collection of scss mixins to get web projects started</h5>
                      <p>View on GitHub <i class="far fa-long-arrow-right"></i></p>
                    </a>
                  </li>
                  <li class="blog__item">
                    <a href="https://github.com/nothingrandom/browser-reset" class="blog__link">
                      <h4 class="blog__title">browser-reset</h4>
                      <h5 class="blog__subtitle">A NPM package for resetting browsers</h5>
                      <p>View on GitHub <i class="far fa-long-arrow-right"></i></p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <h3>Music</h3>
                <p>Coming 2018.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--blog">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Writing<span class="highlight--text">:</span></h2>
            <p>Follow me on <a href="https://medium.com/@nothingrandom">Medium</a>.</p>
            <ul id="js-blog">
              <!-- <li class="blog__item">
                <a href="">
                  <h4 class="blog__title">Title</h4>
                  <h5 class="blog__subtitle">A collection of my most listened tracks, since I started tracking my listening habits</h5>
                  <p>Read article <i class="far fa-long-arrow-right"></i></p>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--contact" id="contact">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Let's connect<span class="highlight--text">:</span></h2>
            <p>The best way to get in touch with me is via social media.</p>
          </div>
          <div class="col-xs-12">
            <ul>
              <li><a href="https://twitter.com/nothingrandom">twitter</a></li>
              <li><a href="https://instagram.com/benjaminhollway">instagram</a></li>
              <li><a href="https://github.com/nothingrandom">github</a></li>
              <li><a href="https://open.spotify.com/user/nothingrandom">spotify</a></li>
              <li><a href="https://medium.com/@nothingrandom">medium</a></li>
              <li><a href="https://www.linkedin.com/in/benjaminhollway/">linkedin</a></li>
            </ul>
          </div>
          <!-- <div class="col-xs-12">
            <p><a href="cv.pdf">CV / resume pdf download</a></p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="section section--photos">
      <div class="row middle-md">
        <div class="col-xs-12 col-md-7">
          <div class="image--wrap">
            <img class="image--float" src="https://scontent-amt2-1.cdninstagram.com/vp/65bed2f886e23978ac60b616cd91202f/5B25AC0E/t51.2885-15/e35/26267929_2039056249708545_3484309128166244352_n.jpg" />
            <img class="image--left" src="images/bike.jpg" />
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="image--right" src="https://scontent-amt2-1.cdninstagram.com/vp/594f28297c4874577c34bcddcac40420/5B0B080D/t51.2885-15/e35/25038002_181789392555330_9069144197956632576_n.jpg" />
        </div>
      </div>
    </div>

    <div class="section--footer">
      <a href="http://nothingrandom.com" class="logo color">
        <span>
          B<span class="collapse"><em>e</em><em>n</em><em>j</em><em>a</em><em>m</em><em>i</em><em>n</em></span>.
        </span>
      </a>
    </div>
  </div>
  {% endblock %}
