---
layout: /layouts/base.njk
---
<div class='section section--standard section--bio'>
  <div class='row row--md-padding'>
    <div class='col-xs-12'>
      <div class='section__header'>
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6'>
      <img src='../img/benjamin-2019-2-horrec-web.jpg' alt='A picture of Benjamin' />
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6 intro__blurb'>
      {{ content | safe }}
      {% include 'partials/social.njk' %}
    </div>
  </div>
</div>