{% extends "extends/html5boilerplate.njk" %}

{% set title = (title + " - " + site.title) if title else (site.title) %}
{% set description = (description) if description else (site.description) %}
{% set lang = lang | default(site.lang) %}

{% block headStyles %}
  {% include "partials/styles.njk" %}
{% endblock %}

{% block headMisc %}
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/img/icon.png">
  <script defer src="https://pro.fontawesome.com/releases/v5.8.1/js/light.js" integrity="sha384-avwGKnev1pyXYEbWxXSg9S4rpTsws+5vQpoj76SfcccEzOL162Ei8+z4a6AlaMeE" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.8.1/js/brands.js" integrity="sha384-b4zU5X+9uCyU5wpeWBsEIFph6tTD8ERLbUs93uYGQGNqzbcfPDeY6c4jMhTAfBri" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.8.1/js/fontawesome.js" integrity="sha384-w6QYwIdCVqcYkHtaFutVu3VlDeu+pBFvlp7e0/tygMFwnWTl13KuVYfsp0ediPpA" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
  {{ super() }}

  <div class='container-fluid container'>
    {{ content | safe }}
  </div>
{% endblock %}

{% block bodyScripts %}
  {% if config.env === 'development' %}
    {% include "partials/browser-sync.dev.njk" %}
  {% endif %}

  {% include "partials/scripts.njk" %}

    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(registration => {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          })
          .catch(error => {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', error);
          });
        });
      }
    </script>
{% endblock %}