---
layout: layouts/base.njk
---
<div class='section section--standard section--blog-item'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='section__header'>
        <h2>{{ title }}</h2>
      </div>
      {{ content | safe }}
    </div>
  </div>
</div>
