# https://community.netlify.com/t/common-issue-using-private-npm-modules-on-netlify/795/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}