<div class="page-section page-section--header">
	<h1>
		<perch:blog id="postTitle" type="text" label="Title" required="true" />
	</h1>
	<div class="page-line page-line--grey page-line--medium">&nbsp;</div>
</div>

<div class="page-section page-section--info-header">
	<div class="row">
		<div class="column medium-10 large-8 medium-centered">
			<div class="row">
				<div class="column small-12 medium-4">
					<div class="info-header__section">
						<h4>Date</h4>
						<p><perch:blog id="postDateTime" label="Date" time="true" type="date" format="jS F Y" /></p>
					</div>
				</div>
				<div class="column small-12 medium-4">
					<div class="info-header__section">
						<h4>Reading Time</h4>
						<p class="js-read-time"></p>
					</div>
				</div>
				<div class="column small-12 medium-4">
					<div class="info-header__section">
						<h4>Category</h4>
						<div class="blog-tags"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-section page-section--blog-post">
	<div class="row">
		<div class="column medium-10 large-8 medium-centered">
			<perch:blog id="postDescHTML" type="textarea" label="Post" order="2" editor="markitup" html="true" markdown="true" size="xxl autowidth" required="true" />
		</div>
	</div>
</div>

<div class="page-section page-section--arrows">
	<div class="row">
		<div class="column medium-10 large-8 medium-centered">
			<div class="row">
				<div class="column small-6">
					<div class="page-arrow">
						<p><a href="../"><span class="page-arrow__arrow">&laquo;</span> <span class="page-arrow__text">Back</span></a></p>
					</div>
				</div>
				<!-- <div class="column small-6 text--right">
					<p class="tweet-arrow"><a href="#">Tweet</a></p>
				</div> -->
			</div>
		</div>
	</div>
</div>

<perch:blog id="excerpt" type="textarea" label="Excerpt" markdown="true" order="3" suppress="true" size="s" />