.section--food {
  .food__item {
    margin-bottom: $standard-spacing;

    a {
      .food__item__image {
        overflow: hidden;

        img {
          transition: transform ease-in-out ($transition-time * 1.5);
        }
      }

      p {
        @include light-dark(color, palette(grey), palette(white));
        transition: color ease-in-out $transition-time;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }

        p {
          @include light-dark(color, palette(black), palette(blue));
        }
      }
    }
  }
}
