.section--food {
  .food__item {
    margin-bottom: $standard-spacing;

    a {
      .food__item__image {
        overflow: hidden;

        img {
          transition: transform ease-in-out ($transition-time * 1.5);
        }
      }

      p {
        color: palette(grey);
        transition: color ease-in-out $transition-time;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }

        p {
          color: palette(black);
        }
      }
    }
  }
}
