.section--intro {
  position: relative;
  min-height: calc(100vh - (#{$menu-height-md} + #{$footer-height-lg}));

  .col {
    @include breakpoint(sm) {
      min-height: calc(100vh - (#{$menu-height-md} + #{$footer-height-lg}));
    }
  }

  h1 {
    margin-top: 0;
  }

  h3 {
    font-weight: 300;
  }

  .text__wrapper,
  .profile-pic {
    @include breakpoint(sm) {
      @include center(vertical);
      position: relative;
    }
  }

  .text__wrapper {
    padding-top: $standard-spacing;

    @include breakpoint(sm) {
      padding-top: 0;
    }
  }

  .profile-pic {
    padding-bottom: $standard-spacing;

    @include breakpoint(sm) {
      padding: $standard-spacing 0;
    }
  }
}
