.section--intro {
  position: relative;
  min-height: calc(90vh - (#{$menu-height-md} + #{$footer-height-md}));

  .col {
    @include breakpoint(sm) {
      min-height: calc(90vh - (#{$menu-height-md} + #{$footer-height-md}));
    }
  }

  h1 {
    margin-top: 0;
  }

  h3 {
    font-weight: 300;
  }

  .text__wrapper,
  .profile-pic {
    @include center(vertical);
    position: relative;
    padding: 20px 0;

    @include breakpoint(md) {
      padding: 0;
    }
  }
}
