$footer-height-sm: 313px;
$footer-height-md: 225px;
$footer-height-lg: 103px;

.section--footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height-sm;
  padding: 30px 0;
  border-top: 1px solid palette(grey, pale);
  background-color: palette(white);

  @include breakpoint(md) {
    height: $footer-height-md;
  }

  @include breakpoint(lg) {
    height: $footer-height-lg;
  }

  h4 {
    margin: 15px 0 0;
    font-size: em(16px);
    font-weight: 700;

    @include breakpoint(lg) {
      margin: 0;
    }
  }

  p {
    margin: 5px 0 0;
    font-size: em(16px);

    a {
      &:hover {
        &::after {
          bottom: 4px !important;
        }
      }
    }
  }

  .footer__description {
    margin-top: 15px;

    @include breakpoint(lg) {
      margin-top: -3px;
    }
  }
}
