$go-height: 530px;

.go-item,
.go-item__panel {
  height: $go-height;
}

.go-item {
  display: flex;
  margin: 50px 0;

  &--left {
    flex-direction: row-reverse;
  }
}

.go-item__panel {
  width: 50%;
  vertical-align: top;
}

.go-item__panel--image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.go-item__panel--text {
  position: relative;
  height: $go-height;
  padding: 0 40px;
  background-color: palette(blue);
  color: #F13F35;

  &--yellow {
    background-color: palette(yellow-pair);
    color: palette(yellow-pair, text);
  }

  &--blue {
    background-color: palette(blue-pair);
    color: palette(blue-pair, text);
  }

  .go-item__panel--inner {
    position: relative;
    height: 100%;
    padding: 30px 0 100px;
  }

  h3 {
    @include center(vertical);
    margin: -30px 0 0;
  }

  .mono {
    margin: 0;
    font-size: 16px;

    span {
      color: palette(black);
    }
  }

  .btn {
    position: absolute;
    bottom: 40px;
  }
}
