$go-height: 530px;
$go-offset: 80px;

.go-item {
  display: flex;
  margin: 50px 0;
  flex-flow: wrap;

  @include breakpoint(sm) {
    height: $go-height;
    flex-flow: nowrap;

    &.section--scroll {
      margin-bottom: 150px;
    }
  }

  @include breakpoint(lg) {
    margin: 100px 0;
  }

  // &:first-child {
  //   margin-top: 50px;
  // }

  &--left {
    flex-direction: row-reverse;
  }

  &--right {
    .go-item__panel--inner {
      float: right;
    }
  }

  &--front-text,
  &--back-text {
    position: relative;
  }

  @include breakpoint(lg) {
    &.section--scroll {
      margin-bottom: 340px;
    }

    &--front-text {
      left: -$go-offset;
      width: calc(100% + #{$go-offset});
      margin-bottom: 240px;

      .go-item__panel--image {
        width: 65%;
      }

      .go-item__panel--text {
        top: $go-offset;
        left: $go-offset;
        z-index: 2;
        width: 35%;
      }
    }

    &--back-text {
      left: -80px;
      width: calc(100% + 80px + .5rem);

      .go-item__panel--image {
        left: 80px;
        z-index: 2;
        width: 100%;

      }

      .go-item__panel--text {
        top: -$go-offset;
        width: 60%;
      }

      &.go-item--narrow-image {
        .go-item__panel--image {
          width: 50%;
          background-position: center center;
        }

        .go-item__panel--text {
          width: 60%;

          .go-item__panel--inner {
            width: 500px;
          }
        }
      }
    }
  }
}

.go-item__panel {
  width: 100%;
  height: 400px;
  vertical-align: top;

  @include breakpoint(sm) {
    width: 50%;
    height: $go-height;
  }
}

.go-item__panel--image {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.go-item__panel--text {
  position: relative;
  padding: 0 20px;
  background-color: palette(blue);
  color: #F13F35;

  @include breakpoint(md) {
    padding: 0 40px;
  }

  &--yellow {
    background-color: palette(yellow-pair);
    color: palette(yellow-pair, text);
  }

  &--blue {
    background-color: palette(blue-pair);
    color: palette(blue-pair, text);
  }

  &--pink {
    background-color: palette(pink-pair);
    color: palette(pink-pair, text);
  }

  &--green {
    background-color: palette(green-pair);
    color: palette(green-pair, text);
  }

  .go-item__panel--inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0 100px;

    @include breakpoint(lg) {
      width: 350px;
    }
  }

  h3 {
    @include center(vertical);
    margin: -30px 0 0;
  }

  .mono {
    margin: 0;
    font-size: 16px;

    span {
      color: palette(black);
    }
  }

  .btn {
    position: absolute;
    bottom: 40px;
  }
}
