.menu__container {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: palette(white);
}

.menu {
  padding: 25px 0;

  .logo,
  .menu__icon {
    position: relative;
    z-index: 10;
  }

  .menu__wrapper {
    float: right;

    .menu__icon {
      font-size: 28px;
      cursor: pointer;

      .fa-times {
        display: none;
      }

      .fa-cheeseburger {
        display: inline-block;
      }
    }
  }

  .menu-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: palette(blue);
    opacity: 0;
    transition: opacity ease-in-out .25s;
    pointer-events: none;

    .links {
      @include center(vertical);
      position: relative;
      text-align: center;

      li {
        padding: 10px 0;
        font-size: 32px;

        a {
          color: palette(black);

          &:hover {
            color: palette(white);
          }
        }
      }
    }

    .social {
      @include center(horizontal);
      bottom: 50px;

      a {
        &:hover {
          color: palette(white);
        }
      }
    }
  }

  .menu__checkbox {
    display: none;

    &:checked {
      ~ .menu-content {
        z-index: 9;
        opacity: 1;
        pointer-events: unset;
      }

      ~ .menu__icon {
        .fa-times {
          display: inline-block;
        }

        .fa-cheeseburger {
          display: none;
        }
      }
    }
  }
}
