$menu-height-md: 93px;

.menu__container {
  @include color-schemes(border-top-color, palette(black), palette(white));
  @include color-schemes(border-bottom-color, palette(grey, pale), palette(black, off));
  @include color-schemes(background-color, palette(white), palette(black));
  position: sticky;
  top: 0;
  z-index: 10;
  height: $menu-height-md;
  border-top-width: 4px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.menu {
  padding: 25px 0;

  .logo,
  .menu__icon {
    position: relative;
    z-index: 10;
  }

  .menu__wrapper {
    float: right;

    .menu__icon {
      font-size: 28px;
      cursor: pointer;

      @include breakpoint(md) {
        display: none;
      }

      .fa-times {
        display: none;
      }

      .fa-cheeseburger {
        display: inline-block;
      }
    }
  }

  .menu-content {
    @include color-schemes(background-color, palette(white), palette(black));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: unset !important;
    padding: 0 4rem;
    opacity: 0;
    transition: opacity ease-in-out .25s;
    pointer-events: none;

    @include breakpoint(md) {
      position: relative;
      top: unset;
      right: unset;
      bottom: unset;
      left: unset;
      z-index: 1;
      padding: unset;
      background-color: unset;
      opacity: 1;
      pointer-events: unset;
    }

    .links {
      @include center(vertical);
      position: relative;
      text-align: left;

      @include breakpoint(md) {
        position: relative;
        top: unset;
        text-align: right;
        transform: unset;
      }

      .menu__item {
        position: relative;
        font-size: em(42px);

        @include breakpoint(md) {
          display: inline-block;
          font-size: em(18px);
        }

        &::after {
          position: absolute;
          bottom: 10px;
          left: -4rem;
          display: block;
          width: 125px;
          height: 5px;
          content: '';
          background-color: palette(grey, pale);
          transform: scaleX(0);
          transition: transform .3s cubic-bezier(.86, 0, .07, 1);
          transform-origin: 0 50%;

          @include breakpoint(md) {
            right: 15px;
            bottom: -4px;
            left: 15px;
            width: unset;
          }
        }

        &.menu__item--active {
          &::after {
            background-color: palette(blue);
            transform: none;
          }

          a {
            @include color-schemes(color, palette(black), palette(white));
          }
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }

          a {
            @include color-schemes(color, palette(black), palette(white));
          }
        }

        a {
          @include color-schemes(color, palette(black), palette(white));
          @extend %serif-style;
          display: block;
          padding: 20px 0;

          @include breakpoint(md) {
            padding: 10px 15px;
            color: palette(grey);
          }
        }
      }
    }

    .social {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      text-align: center;

      @include breakpoint(md) {
        display: none;
      }

      a {
        @include color-schemes(color, palette(black), palette(white));

        &:hover {
          color: palette(blue);
        }
      }
    }
  }

  .menu__checkbox {
    display: none;

    &:checked {
      ~ .menu-content {
        z-index: 9;
        opacity: 1;
        pointer-events: unset;
      }

      ~ .menu__icon {
        .fa-times {
          display: inline-block;
          color: palette(white);
        }

        .fa-cheeseburger {
          display: none;
        }
      }
    }
  }
}
