$menu-height-md: 93px;
$mobile-menu-animation-time: .4s;

.menu__container {
  position: sticky;
  top: 0;
  z-index: 10;
  height: $menu-height-md;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: palette(black);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: palette(grey, pale);
  background-color: palette(white);
}

.menu {
  padding: 25px 0;

  .logo,
  .menu__icon {
    position: relative;
    z-index: 10;
  }

  .menu__wrapper {
    float: right;

    .menu__icon {
      cursor: pointer;
      font-size: 28px;

      @include breakpoint(md) {
        display: none;
      }

      .fa-times {
        display: none;
      }

      .fa-cheeseburger {
        display: inline-block;
      }
    }
  }

  .menu__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: unset !important;
    padding: 0 4rem;
    pointer-events: none;

    @include breakpoint(md) {
      position: unset;
      top: unset;
      right: unset;
      bottom: unset;
      left: unset;
      z-index: 1;
      padding: unset;
      background-color: unset;
      opacity: 1;
      pointer-events: unset;
    }

    &::before {
      @include pseudo();
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #FFD1DC;
      opacity: 0;
      transition: transform $mobile-menu-animation-time ease-in-out;
    }

    .menu__links {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      @include breakpoint(md) {
        position: unset;
        opacity: 1;
      }

      .menu__item--search {
        .toggle__label--on {
          position: relative;
          top: -5px;
          right: -80%;
          z-index: 1;

          @include breakpoint(md) {
            top: unset;
            right: unset;
          }
        }
      }

      .search {
        position: absolute;
        top: 10px;
        right: -30px;
        left: -30px;
        background-color: palette(white);

        @include breakpoint(md) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          padding: 90px $grid-padding;
        }

        &::before {
          background-color: palette(green);
        }

        input[type='text'],
        .search-results {
          position: relative;
          z-index: 1;
        }

        input[type='text'] {
          width: 100%;
          padding: 10px 15px;
          border: 0;
          border-bottom: 1px solid palette(white);
          outline: 0;
          background-color: transparent;
          font-size: em(24px);

          @include breakpoint(md) {
            padding: 10px 95px 10px 15px;
          }
        }

        .search-results {
          margin-top: -15px;
          text-align: left;

          li {
            display: inline-block;
            min-width: 100%;

            &:first-child {
              margin-top: 10px;
            }

            &:last-child {
              margin-bottom: 10px;
            }
          }

          a {
            @extend %font-sans;
            @include transition((background-color, color));
            padding: 20px 15px;
            color: palette(black);
            font-size: em(24px);
            text-transform: none;
            // transition: background-color $transition-time ease-in-out, color $transition-time ease-in-out;

            &:hover {
              background-color: palette(blue, dark);
              color: palette(white);
            }
          }
        }
      }
    }

    .links {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;
      text-align: left;

      @include breakpoint(md) {
        position: unset;
        margin-top: unset;
        text-align: right;
      }

      .menu__item {
        position: relative;
        width: 100%;

        @include breakpoint(md) {
          display: inline-block;
          width: unset;
          font-size: em(18px);
        }

        &.menu__item--search {
          position: unset;
          order: -1;

          @include breakpoint(md) {
            order: unset;
          }
        }

        a,
        label {
          @extend %font-mono;
          display: block;
          padding: 30px 0;
          color: palette(black);
          font-size: 14px;
          text-transform: uppercase;

          @include breakpoint(md) {
            padding: 10px 15px;
            color: palette(grey);
          }
        }

        &::after {
          position: absolute;
          bottom: 10px;
          left: -4rem;
          display: block;
          width: 125px;
          height: 5px;
          content: '';
          background-color: var(--hover-color);
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition: transform .3s cubic-bezier(.86, 0, .07, 1);

          @include breakpoint(md) {
            right: 15px;
            bottom: -4px;
            left: 15px;
            width: unset;
          }
        }

        &.menu__item--active {
          &::after {
            background-color: var(--hover-color);
            transform: none;
          }

          a {
            color: palette(black);
          }
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }

          a {
            color: palette(black);
          }
        }
      }
    }

    .social {
      position: absolute;
      bottom: 25px;
      left: 0;
      width: 100%;
      text-align: center;

      @include breakpoint(md) {
        display: none;
      }

      a {
        color: palette(black);

        &:hover {
          color: palette(blue);
        }
      }
    }
  }

  .menu__checkbox {
    display: none;

    &:checked {
      ~ .menu__content {
        z-index: 9;
        pointer-events: unset;

        .menu__links {
          opacity: 1;
          transition: opacity $transition-time ease-in-out $mobile-menu-animation-time;
        }

        &::before {
          opacity: 1;
          transform: scale(40);

          @include breakpoint(md) {
            opacity: 0;
          }
        }
      }

      ~ .menu__icon {
        .fa-times {
          display: inline-block;
          color: palette(black);
        }

        .fa-cheeseburger {
          display: none;
        }
      }
    }
  }
}
