.posts__tag {
  background-color: palette(white);

  &--all {
    background-color: palette(white);
    color: palette(black);
  }

  &--code {
    background-color: palette(black);
    color: limegreen;
  }

  &--life {
    background-color: #32B67A;
    color: palette(white);
  }
}

.posts-count {
  // li {
  //   counter-increment: start-from -1;
  // }

  // .section__item__count {
  //   &::before {
  //     @include pseudo();
  //     content: counter(start-from, decimal-leading-zero)'. ';
  //   }
  // }
}
