.section--projects {
  @include color-schemes(background-color, palette(grey, pale), palette(black, off));
  height: 100vh - #{$menu-height-md};
  padding: 100px $grid-padding 60px;

  @include breakpoint(md) {
    padding-right: 0;
    padding-left: 0;
  }
}

.project__item {
  margin-bottom: 40px;

  @include breakpoint(md) {
    &:nth-child(odd) {
      padding-right: 25px;
    }

    &:nth-child(even) {
      padding-right: 25px;
    }
  }
}

.project__header {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.project__tag {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
