.menu__item--search {
  position: unset !important;
  order: -1;

  @include breakpoint(md) {
    order: unset;
  }

  .toggle__label--on {
    position: relative;
    top: -5px;
    right: -80%;
    z-index: 1;

    @include breakpoint(md) {
      top: unset;
      right: unset;
    }
  }
}

.search {
  position: absolute;
  top: 10px;
  right: -30px;
  left: -30px;

  @include breakpoint(md) {
    @include center(horizontal);
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    padding: 90px $grid-padding;
  }

  &::before {
    background-color: palette(sections, search);
  }

  input[type='text'],
  .search-results {
    position: relative;
    z-index: 1;
    opacity: 0;
  }

  input[type='text'] {
    width: 100%;
    padding: 10px 15px;
    border: 0;
    border-bottom: 1px solid palette(white);
    outline: 0;
    background-color: transparent;
    font-size: em(24px);

    @include breakpoint(md) {
      padding: 10px 95px 10px 15px;
    }
  }

  .search-results {
    margin-top: -15px;
    text-align: left;

    li {
      display: inline-block;
      min-width: 100%;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }

    a {
      @extend %font-sans;
      @include transition((background-color, color));
      padding: 20px 15px;
      color: palette(black);
      font-size: em(24px);
      text-transform: none;

      &:hover {
        background-color: palette(blue, dark);
        color: palette(white);
      }
    }
  }
}

.toggle__input--search {
  &:checked {
    ~ .toggle__label {
      color: palette(black) !important;
    }

    ~ .toggle__item {
      &::before {
        opacity: 1;
        transform: scale(40);
        transition: transform .6s ease-in-out;
      }

      input[type='text'],
      .search-results {
        opacity: 1 !important;

        @include breakpoint(md) {
          transition: opacity $transition-time ease-in-out (.6s - $transition-time);
        }
      }
    }
  }
}
