.section {
  position: relative;
}

.section--full-width {
  @include force-full-width();
}

.col {
  position: relative;
}

.section__header {
  position: relative;

  h2 {
    position: relative;
    z-index: 3;
    margin: 0 0 -30px;
    line-height: 1;
  }

  h5 {
    margin: 0 0 0;
    padding-left: 7.5px;
    color: palette(grey);
  }

  .section__header__see {
    @extend %font-mono;
    @include center(vertical);
    position: absolute;
    right: 0;
    z-index: 4;
    margin-top: -10px;
    color: palette(grey);

    &:hover {
      color: palette(black);
    }
  }
}

.section__intro {
  margin: 0 -50px 40px;
  padding: 40px;
  background-color: palette(black);
  color: text-contrast(palette(black));
}

.section__item {
  a {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 40px;
    // border-radius: 5px;
    background-color: palette(grey, pale);
    color: palette(black);
  }

  p {
    color: tint(palette(black), 30%);
    font-size: 18px;
  }
}

.section__item__header {
  margin-top: 15px;
  margin-bottom: 0;
}

.section__item__tag {
  @extend %font-mono;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: lowercase;

  &:not(.project__language):not(.posts__tag) {
    background-color: palette(white);
  }
}

.section__item__detail {
  @extend %font-mono;
  margin-top: 10px;
  font-size: 13px;
}

.section__floating {
  position: absolute;
  z-index: 1;
  padding: 40px;
  background-color: palette(white);

  &--left-to-right {
    left: 100px;
    width: calc(100% + 100px);
  }

  &--right-to-left {
    right: 100px;
    width: calc(100% + 100px);
  }

  &--center-top  {
    @include center(vertical);
  }

  &--horizontal {
    // position: absolute;
    width: calc(100% + 100px);
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section--standard {
  margin: 50px 0;
}