.section {
  position: relative;
}

.section--full-width {
  @include force-full-width();
}

.col {
  position: relative;
}

.section__header {
  position: relative;

  h2 {
    position: relative;
    z-index: 3;
    margin: 0 0 -12px;
    text-align: left;
    line-height: 1;

    @include breakpoint(xs) {
      margin: 0 0 -15px;
    }

    @include breakpoint(md) {
      margin: 0 0 -30px;
    }
  }

  h5 {
    margin: 0;
    color: palette(grey);

    @include breakpoint(md) {
      padding-left: 7.5px;
    }
  }

  .section__header__see {
    @extend %font-mono;
    @include center(vertical);
    position: absolute;
    right: 0;
    z-index: 4;
    margin-top: 20px;
    color: palette(grey);

    @include breakpoint(md) {
      margin-top: 30px;
    }

    &:hover {
      color: palette(black);
    }
  }
}

.section__intro {
  @include section-box-background(palette(black));
  margin: 0 0 40px;
  padding: 40px;

  @include breakpoint(md) {
    margin: 0 -50px 40px;
  }
}

.section__item {
  a {
    @include transition(transform);
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 40px;
    // border-radius: 5px;
    background-color: palette(grey, pale);
    color: palette(black);
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

    &:hover {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      transform: translate3d(0px, -3px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
  }

  p {
    color: tint(palette(black), 30%);
    font-size: 18px;
  }
}

.section__item__header {
  margin-top: 15px;
  margin-bottom: 0;
}

.pip {
  @extend %font-mono;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: lowercase;

  &:not(.project__language):not(.posts__tag) {
    background-color: palette(white);
  }
}

.section__item__detail,
.section__item__count {
  @extend %font-mono;
  margin-top: 10px;
  font-size: 13px;
}

.section__floating {
  z-index: 1;
  padding: 40px 20px;
  background-color: palette(white);

  @include breakpoint(md) {
    position: absolute;
    padding: 40px;
  }

  &--left-to-right {
    @include breakpoint(md) {
      left: 100px;
      width: calc(100% + 100px);
    }
  }

  &--right-to-left {
    @include breakpoint(md) {
      right: 100px;
      width: calc(100% + 100px);
    }
  }

  &--center-top {
    @include breakpoint(md) {
      @include center(vertical);
    }
  }

  &--horizontal {
    @include breakpoint(md) {
      width: calc(100% + 100px);
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section--standard {
  margin: 50px 0;
}