.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;

  li {
    width: calc(100% / 2);
    margin-right: -4px;
    margin-bottom: 20px;

    @include breakpoint(md) {
      width: calc(100% / 4);
      margin-bottom: 0;
    }
  }

  a {
    @extend %link--wiggle;
    color: palette(black);
    font-size: 18px;

    .svg-inline--fa {
      margin-right: 2px;
    }

    &:hover {
      background-position: 0 19px;
    }
  }
}
