.toggle__item {
  visibility: hidden;

  &::before {
    @include pseudo();
    top: 0;
    right: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    opacity: 0;
    border-radius: 50%;
  }
}

.toggle__label {
  position: relative;
  z-index: 2;
  cursor: pointer;

  .toggle__label--off {
    display: block;
  }

  .toggle__label--on {
    display: none;
  }
}

.toggle__input--search {
  display: none;

  &:checked {
    ~ .toggle__item {
      visibility: visible;

      &::before {
        opacity: 1;
        transform: scale(40);
        transition: transform .6s ease-in-out;
      }
    }

    ~ .toggle__label {
      .toggle__label--off {
        display: none;
      }

      .toggle__label--on {
        display: block;
      }
    }
  }
}