.btn {
	display: inline-block;
	padding: 10px 25px;
	border: 3px solid;
	text-align: center;
	transition: all ease-in-out $transition-time;
}

.btn--primary {
	border-color: palette(white);
	color: palette(white);

	&:hover,
	&:focus,
	&:active {
		border-color: palette(gray, mid);
		color: palette(gray, mid);
	}
}

.btn--secondary {
	border-color: palette(black);
	color: palette(black);

	&:hover,
	&:focus,
	&:active {
		border-color: palette(gray, mid);
		color: palette(gray, mid);
	}
}

.btn--center {
	text-align: center;
}

.btn--large {
	padding: 15px 40px;
	border-width: 4px;
	font-size: em(24px);
	font-weight: 700;
}
