.header--main {
	position: relative;
	margin-top: -142px;
	border-bottom: 1px solid palette(grey, light);
	background-color: palette(white);
	transition: margin-top ease-in-out .5s;

	@include screen-max($screen-md) {
		margin-top: -283px;
		margin-bottom: -1px;
	}

	@include screen-max($screen-sm) {
		margin-top: -325px;
		margin-bottom: 0;
	}

	&.active {
		margin-top: 0;

		li {
			// top: -95px;
			// animation: slideIn ease 1;
			// // animation: fadeIn ease 1;
			// animation-fill-mode: forwards;
			// animation-duration: .5s;

			// &:nth-child(1) {
			// 	animation-delay: .5s;§
			// }

			// &:nth-child(2) {
			// 	animation-delay: .75s;
			// }

			// &:nth-child(3) {
			// 	animation-delay: 1s;
			// }

			// &:nth-child(4) {
			// 	animation-delay: 1.25s;
			// }
		}
	}

	ul {
		@include screen-max($screen-sm) {
			padding-bottom: 20px;
		}
	}

	li {
		position: relative;
		display: inline;
		margin-right: -4px;
		// opacity: 0;
		font-size: em(42px);

		@include screen-max($screen-sm) {
			font-size: em(32px);
		}

		&:hover,
		&:focus,
		&:active {
			a {
				border-color: palette(black);

				@include screen-max($screen-sm) {
					color: palette(grey, mid);
				}
			}

			span {
				opacity: 1;
			}
		}

		a {
			display: inline-block;
			width: 25%;
			padding: 40px 0 20px $page-border;
			border-bottom: 5px solid palette(white);
			// background-color: palette(white);
			color: palette(black);
			font-weight: 900;
			transition: all ease-in-out $transition-time;

			@include screen-max($screen-md) {
				width: 50%;
			}

			@include screen-max($screen-sm) {
				width: 100%;
				padding-top: 10px;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}

		span {
			display: block;
			margin-top: 5px;
			opacity: 0;
			font-size: em(14px, 42px);
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			transition: all ease-in-out $transition-time;

			@include screen-max($screen-md) {
				opacity: 1;
			}
		}

		&:first-child {
			a {
				padding-left: $page-border * 2;
			}
		}

		&:nth-child(odd) {
			a {
				@include screen-max($screen-md) {
					padding-left: $page-border * 2;
				}

				@include screen-max($screen-md) {
					padding-left: $page-border;
				}
			}
		}

		&:last-child {
			a {
				padding-right: $page-border * 2;
			}
		}
	}
}

.header--no-js {
	&.js-not-loaded {
		position: absolute;
		top: 50px;
		right: 30px;
		z-index: 15;

		li {
			display: inline-block;
			margin-right: 20px;
			font-size: em(14px);
			letter-spacing: 3px;
			text-transform: uppercase;

			&:hover,
			&:focus,
			&:active {
				a {
					color: palette(white);
				}
			}

			a {
				color: palette(grey, mid);
				font-weight: 700;
			}
		}

		span {
			display: none;
		}
	}
}

.menu-button {
	position: absolute;
	right: 30px;
	z-index: 15;
	width: 35px;
	height: 7px;
	padding: 30px 50px 37px 45px;
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	animation-delay: 1s;
	cursor: pointer;

	@include screen-max($screen-sm) {
		right: 10px;
		padding-top: 25px;
	}

	span {
		position: absolute;
		// right: 14px;
		z-index: 15;
		animation: spin-reverse ease 1;
		animation-fill-mode: forwards;
		animation-duration: 1s;

		&,
		&:before,
		&:after {
			width: 7px;
			height: 7px;
			border-radius: 3.5px;
			background-color: palette(white);
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			transition: all ease-in-out $transition-time;
		}

		&:before {
			left: -14px;
		}

		&:after {
			left: 14px;
		}
	}

	&:hover {
		span {
			animation: spin ease 1;
			animation-fill-mode: forwards;
			animation-duration: 1s;

			@include screen-max($screen-sm) {
				transform: none;
			}

			&:before,
			&:after {
				// top: 25px;
			}
		}
	}

	&.active {
		span {
			&:before,
			&:after {
				left: 0;
				opacity: 0;
			}
		}

		&:hover {
			span {
				background-color: palette(blue);
			}
		}
	}
}
