.social-links {
	li {
		display: inline-block;
		font-size: em(12.5px);
		letter-spacing: 6px;
		text-transform: uppercase;

		a {
			font-weight: 700;
		}

		&:after {
			margin-right: 8px;
			margin-left: 12px;
			content: '//';
			color: palette(grey, mid);
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
