---
layout: /layouts/base.njk
---
<div class='section section--standard section--bio'>
  <div class='row row--md-padding'>
    <div class='col-xs-12'>
      <div class='section__header'>
        <h2>{{ title | safe }}</h2>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6'>
      {% include 'partials/profile-picture.njk' %}
      <br />
      <div class='row row-xs-hidden'>
        <div class='col-xs-12 col-md-6'>
          <img src='/img/tosti.jpg' alt='Picture of Tosti, our cat' />
        </div>
        <div class='col-xs-12 col-md-6'>
          <img src='/img/blog/our-home/indy.jpg' alt='Picture of Indy, my wife' />
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6 intro__blurb'>
      {{ content | safe }}
      {% include 'partials/social.njk' %}
    </div>
  </div>
</div>