---
layout: /layouts/base.njk
---
<div class='section--standard section--blog-item' itemscope itemtype="http://schema.org/Recipe">
  <div class='row center-xs'>
    <div class='col-xs-12 col-md-7 text-left'>
      <div class='section__header'>
        <h2 itemprop="name">{{ title }}</h2>
        <p style='display: none'>
          By <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Benjamin Hollway</span>
          </span>
        </p>
      </div>
      <div class='row'>
        <div class='col-xs-12 col-md-8'>
          <img itemprop="image" src='/img/food/{{ image }}' alt='Food picture of {{ title }}'>
        </div>
          <div class='col-xs-12 col-md-4'>
          <ul class='recipe__stats no-count'>
            <li><span>Time</span> <time datetime="{{ time }}" itemprop="prepTime">{{ time }}</time></li>
            <li itemprop="recipeYield"><span>Serves</span> {{ serves }}</li>
            <li><span>Challenge</span>
              <div class='recipe__challenge recipe__challenge--{{ challenge }}'>
                {% for i in range(0, challenge) %}
                  <i class='recipe__challenge--on fad fa-utensils-alt'></i>
                {% endfor %}

                {% for i in range(0, 3 - challenge) %}
                  <i class='recipe__challenge--off fal fa-utensils-alt'></i>
                {% endfor %}
              </div>
            </li>
          </ul>
        </div>
        <div class='col-xs-12'>
          <div class='section__intro recipe__intro'>
            <p>{{ intro | safe }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-md-9 text-left'>
      <div class='row row--md-padding'>
        <div class='col-xs-12 col-md-4'>
          <div class='recipe__ingredients'>
            <h3>Ingredients</h3>
            <ul class='no-count'>
              {% for ingredient in ingredients %}
                {% if ingredient | isIngredientsList %}
                  {% for topic, list in ingredient %}
                    <h4>For the {{ topic }}:</h4>
                    {% for item in list %}
                      <li itemprop="recipeIngredient">{{ item }}</li>
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <li itemprop="recipeIngredient">{{ ingredient }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class='col-xs-12 col-md-8'>
          <div class='recipe__method' itemprop="recipeInstructions">
            <h3>Method</h3>
            {{ content | safe }}
          </div>
        </div>

        <div class='col-xs-12'>
          <div class='blog__footer'>
            <p>
              <a href='/food/'><i class='fal fa-long-arrow-left'></i>  View all recipes</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
