<div class="row">
	<div class="column small-12 medium-4">
		<div class="info-header__section">
			<h4>Date</h4>
			<p><perch:content id="date" type="text" label="Date" required="true" /></p>
		</div>
	</div>
	<div class="column small-12 medium-4">
		<div class="info-header__section">
			<div class="info-header__section">
				<h4>Conference</h4>
				<p><a href="<perch:content id="slug" type="text" label="Slug" required="true" />" ><perch:content id="conference" type="text" label="Conference" required="true" /></a></p>
			</div>
		</div>
	</div>
	<div class="column small-12 medium-4">
		<div class="info-header__section">
			<div class="info-header__section">
				<h4>Location</h4>
				<p><perch:content id="location" type="text" label="Location" required="true" /></p>
			</div>
		</div>
	</div>
</div>