<perch:before>
	<div class="page-section page-section--decks">
		<div class="row">
			<div class="column medium-10 medium-centered">
				<h4>Slides</h4>
				<div class="row">
</perch:before>

<perch:blocks>
	<perch:block type="image-panel" label="Image Panel">
		<div class="column small-12 medium-6">
			<img src="<perch:content type="image" id="image" label="Image" />" alt="<perch:content type="text" id="alt" label="Description" title="true" />" />
		</div>
	</perch:block>
</perch:blocks>

<perch:after>
				</div>
			</div>
		</div>
	</div>
</perch:after>