$palettes: (
  white: (
    base: #FFFFFF
  ),
  black: (
    base: #000000
  ),
  grey: (
    base: #9B9BA5
  ),
  blue: (
    base: #B7E3E4,
  ),
  yellow-pair: (
    base: #FDF06F,
    text: #D31B33,
  ),
  blue-pair: (
    base: #0E38B1,
    text: #FFFFFF,
  )
);
