// @include font-face('Font Name', '/path/to/font', 400, normal);

// LL Circular
@include font-face('Circular', '../fonts/CircularStd-Book', 400, normal);
@include font-face('Circular', '../fonts/CircularStd-BookItalic', 400, italic);

@include font-face('Circular', '../fonts/CircularStd-Medium', 500, normal);

@include font-face('Circular', '../fonts/CircularStd-Bold', 700, normal);

$sans: 'Circular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
$serif: 'Lora', serif;
