body {
  font-family: sans-serif;
}

%sans-style {
  font-family: $sans;
  font-feature-settings: 'ss02', 'ss04', 'ss06'; //ss03 for curled 'r'
  font-display: swap;
}

%serif-style {
  font-family: $serif;
  font-display: swap;
}

@include header-style() {
  @extend %sans-style;
  color: palette(black);
  font-weight: 400;
}

@include paragraph-style() {
  @extend %sans-style;
  color: palette(black);
}

h1 {
  @extend %serif-style;
  font-size: em(42px);
  // font-weight: 600;
}

h2 {
  font-size: em(32px);
}

h3 {
  font-size: em(26px);
  font-weight: 300;
  letter-spacing: -.5px;
}

h4 {
  margin-bottom: 0;
  font-size: em(24px);
}

h5 {
  font-size: em(22px);
}

p {
  margin: 14px 0;
  font-size: em(20px);
  line-height: 1.5;

  a {
    &:hover {
      &::after {
        bottom: 7px !important;
      }
    }
  }
}

.link--hero {
  position: relative;
  display: inline-block;
  color: inherit;

  &::before,
  &::after {
    @include pseudo();
    right: -2px;
    bottom: 0;
    left: -2px;
    z-index: -1;
    height: .5em;
  }

  &::before {
    background-color: palette(grey, pale);
  }

  &::after {
    background-color: palette(blue);
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(.86, 0, .07, 1), -webkit-transform .3s cubic-bezier(.86, 0, .07, 1);
    transform-origin: 0 50%;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

@mixin link-underline($color: palette(blue), $text-color: palette(grey)) {
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  @if $text-color != palette(grey) {
    color: $text-color !important;
  }

  &::after {
    position: relative;
    right: 0;
    bottom: -3px;
    left: 0;
    display: block;
    height: 2px;
    content: '';
    background-color: $color;
    opacity: 0;
    transition: all ease-in-out .2s;
  }

  &:hover {
    color: $color !important;

    &::after {
      bottom: 2px;
      opacity: 1;
    }
  }
}

.link-underline {
  @include link-underline(palette(blue), palette(grey));
}

a {
  text-decoration: none;
  transition: color ease-in-out $transition-time;

  &:not(.link--hero):not(.link--social):not(.link--exclude) {
    @include link-underline();
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
