// Import barebones scss structure
@import '~browser-reset/reset.scss';
@import 'utilities', 'variables', 'colors', 'fonts', 'typography';

// Grid
@import 'grid';

@import 'components/components';

html {
  @include font-smoothing(on);
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

// body {
//   height: unset;
// }

.page {
  padding: 0 0 50px;

  :has(.menu__checkbox) {
    color: green;
  }
}

.section__side-title {
  @extend %mono-style;
}

// YOUR STYLES HERE
// ==============================
