/*@font-face {
	font-family: 'Gotham';
	src: url('gotham-thin-webfont.eot');
	src: url('gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('gotham-thin-webfont.woff') format('woff'),
		url('gotham-thin-webfont.ttf') format('truetype'),
		url('gotham-thin-webfont.svg#gotham_thinregular') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('gotham-xlight-webfont.eot');
	src: url('gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
		url('gotham-xlight-webfont.woff') format('woff'),
		url('gotham-xlight-webfont.ttf') format('truetype'),
		url('gotham-xlight-webfont.svg#gotham_extralightregular') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('gotham-light-webfont.eot');
	src: url('gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('gotham-light-webfont.woff') format('woff'),
		url('gotham-light-webfont.ttf') format('truetype'),
		url('gotham-light-webfont.svg#gotham_lightregular') format('svg');
	font-weight: 300;
	font-style: normal;
}*/

@font-face {
	font-family: 'Proxima Nova';
	src: url('proximanova-light-webfont.eot');
	src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('proximanova-light-webfont.woff') format('woff'),
		url('proximanova-light-webfont.ttf') format('truetype'),
		url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Minion';
	src: url('Minion-Regular.eot');
	src: url('Minion-Regular.eot?#iefix') format('embedded-opentype'),
	 	url('Minion-Regular.woff') format('woff'),
		url('Minion-Regular.ttf') format('truetype'),
		url('Minion-Regular.svg#MinionPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minion';
	src: url('Minion-Italic.eot');
	src: url('Minion-Italic.eot?#iefix') format('embedded-opentype'),
		url('Minion-Italic.woff') format('woff'),
		url('Minion-Italic.ttf') format('truetype'),
		url('Minion-Italic.svg#MinionPro-It') format('svg');
	font-weight: normal;
	font-style: italic;
}
