//Default colors
$black: #000;
$white: #FFF;

//Greys
$lightgrey: #D7D7D7;
$midgrey: #BBB;
$semigrey: #888;
$darkgrey: #555;
$middarkgrey: #444;
$verydarkgrey: #333;

$selection: #CECECE; //font color used for any text selection.

//Colors
$red: #F00;
$darkred: #A00;

//Specials
$rebeccapurple: #639;
