@font-face {
	font-family: "Proxima Nova";
	src: url("http://nothingrandom.com/fonts/proximanova-light-webfont.eot");
	src: url("http://nothingrandom.com/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"),
		url("http://nothingrandom.com/fonts/proximanova-light-webfont.woff") format("woff"),
		url("http://nothingrandom.com/fonts/proximanova-light-webfont.ttf") format("truetype"),
		url("http://nothingrandom.com/fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Minion";
	src: url("http://nothingrandom.com/fonts/MinionPro-Disp.eot");
	src: url("http://nothingrandom.com/fonts/MinionPro-Disp.eot?#iefix") format("embedded-opentype"),
	 	url("http://nothingrandom.com/fonts/MinionPro-Disp.woff") format("woff"),
		url("http://nothingrandom.com/fonts/MinionPro-Disp.ttf") format("truetype"),
		url("http://nothingrandom.com/fonts/MinionPro-Disp.svg#MinionPro-Disp") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Minion";
	src: url("http://nothingrandom.com/fonts/MinionPro-ItDisp.eot");
	src: url("http://nothingrandom.com/fonts/MinionPro-ItDisp.eot?#iefix") format("embedded-opentype"),
		url("http://nothingrandom.com/fonts/MinionPro-ItDisp.woff") format("woff"),
		url("http://nothingrandom.com/fonts/MinionPro-ItDisp.ttf") format("truetype"),
		url("http://nothingrandom.com/fonts/MinionPro-ItDisp.svg#MinionPro-ItDisp") format("svg");
	font-weight: normal;
	font-style: italic;
}
