@import "default", "mixins", "fonts", "animate", "colors"; //mobile is imported last

$sans-serif: Proxima Nova, sans-serif;
$serif: Minion, Georgia, Times, serif;

$global-ease: .3s;
$link-ease: .15s;
$global-width: 80%;
$global-maxwidth: 1400px;

h1,
h2,
h3,
h4,
p {
	font-family: $serif;
	font-weight: 300;
	font-style: normal;
}

p {
	margin: 1em 0;
	color: $black;
	font-size: 1.25em;
	letter-spacing: .25px;
	line-height: 1.25em;
}

p.last,
img.last {
	margin-bottom: 0 !important;
}

ul {
	padding: 0;
	line-height: normal;
	list-style: none;
}

a {
	@include ease-in-out($link-ease);
	background-image: linear-gradient(to top,
		/*rgba(0, 0, 0, 0) 11%,
		rgba(0, 0, 0, 1) 11%,
		rgba(0, 0, 0, 1) 16%,
		rgba(0, 0, 0, 0) 11%*/
		transparent 10%,
		currentColor 10%,
		currentColor 14%,
		transparent 10%
	);
	text-decoration: none;
	text-shadow:
		.025em 0 0 $white,
		-.025em 0 0 $white,
		.05em 0 0 $white,
		-.05em 0 0 $white,
		.075em 0 0 $white,
		-.075em 0 0 $white;
}

a,
a.visited {
	color: $semigrey;
}

a:hover,
a:focus,
a:active {
	color: $black;
}

::selection {
	background-color: $selection;
}

a::selection {
	text-shadow:
		.025em 0 0 $selection,
		-.025em 0 0 $selection,
		.05em 0 0 $selection,
		-.05em 0 0 $selection,
		.075em 0 0 $selection,
		-.075em 0 0 $selection;
}

.clear {
	clear: both;
}

.none {
	display: none;
}

%page-line {
	width: 100%;
	height: 1px;
}

.page-line-red {
	@extend %page-line;
	background-color: $darkred;
}

.page-line-grey {
	@extend %page-line;
	background-color: $lightgrey;

	&.home {
		@include animation-delay(.25s);
	}
}

.page-line-short-grey {
	width: 100px;
	height: 1px;
	margin: 15px auto;
	background-color: $midgrey;
}

.page-line-medium-grey {
	width: 250px;
	height: 1px;
	margin: 19px auto 0;
	background-color: $lightgrey;
	@include animation-delay(2s);
}

h2.mobile-yes {
	display: none;
}

//Main navigation

header {
	@include center-width($global-width, 0 auto);
	max-width: $global-maxwidth;

	.left-nav {
		float: left;
		margin: 15px 0;
		@include animation-delay(0);

		p {
			margin: 0;
			font-size: 1.75em;
			line-height: 1em;
		}

		a {
			background-image: none;
			color: $black;
		}

		a:hover,
		a:active,
		a:focus {
			color: $semigrey;
			@include ease-in-out($global-ease);
		}
	}

	nav {

		ul {
			float: right;
			margin: 20px 0;

			.one {
				@include animation-delay(.25s);
			}

			.two {
				@include animation-delay(.5s);
			}

			.three {
				@include animation-delay(.75s);
			}

			.four {
				@include animation-delay(1s);
			}

			li {
				display: inline;
				padding: 0 15px;
				font-family: $sans-serif;
				font-size: .875em;
				font-weight: 200;
				letter-spacing: 2px;
				text-align: right;
				text-transform: uppercase;

				a {
					@include ease-in-out($global-ease);
					background-image: none;
					color: $midgrey;
					text-decoration: none;
					text-shadow: none;
				}

				a:hover,
				a:focus,
				a:active {
					color: $black;
				}
			}

			li:last-child {
				padding: 0 0 0 10px;
			}
		}
	}

	//Portfolio

	h1 {
		font-size: 2.75em;
		line-height: 1;
		//margin: 0 0 12px;
		@include animation-delay(.5s);
	}

	&.portfolio {
		@include center-width($global-width, 100px auto 50px);

		h2 {
			margin: 0;
			font-size: 2.5em;
			font-style: italic;
		}
	}
}

section.portfolio {
	@include center-width($global-width, 35px auto 75px);

	.one {
		@include animation-delay(1s);
	}

	.two {
		@include animation-delay(1.5s);
	}

	.three {
		@include animation-delay(2s);
	}

	.four {
		@include animation-delay(2.5s);
	}

	.hover {
		margin: 0 0 0 -40%;
	}

	%img {
		@include ease-in-out($global-ease);
		display: inline-block;
		pointer-events: auto;
		vertical-align: middle;
	}

	//18px margin (36 total) seems to move the hover caption. Need to find a fix.
	.left-img {
		@extend %img;
		@include center-width(48%, 4% 3.5% 0 0);
	}

	.right-img {
		@extend %img;
		@include center-width(48%, 4% 0 0);
	}

	.large-img {
		@extend %img;
		@include center-width(100%, 40px 0 0);
	}
}

//Box hover

.hover {
	@include opacity(0);
	@include ease-in-out($global-ease);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 30%;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.box:hover .hover,
.box:focus .hover,
.box:active .hover {
	display: block;
	@include opacity(1);
}

.box:hover img,
.box:focus img,
.box:active img {
	@include hover-bright(.4);
}


.box {
	position: relative;
	display: inline;
	vertical-align: middle;

	h3,
	h4,
	p {
		@include opacity(1);
		margin: 0;
		line-height: 1.375em;
		text-align: center;
	}

	h3,
	p.project-title {
		font-family: $sans-serif;
		font-size: 1em;
		//font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	h4,
	p.project-role {
		color: $middarkgrey;
		font-size: 1.125em;
		font-style: italic;
	}

	a,
	a:visited {
		background-image: none;
		color: $black;
		text-decoration: none;
		text-shadow: none;
	}
}

//About and blog mixed styles

.content.about,
.content.blog,
.content.blog-post,
.content.project,
.content.error,
.content.quotes,
.content.speaking,
.content.speak {
	@include center-width($global-width, 0 auto 70px);
	@include animation-delay(.2s);
	max-width: $global-maxwidth;

}

header.about,
header.blog,
header.blog-post,
header.project,
header.error,
header.quotes,
header.speaking,
header.speak {
	@include center-width(100%, 100px 0 75px);

	h1 {
		margin: 0;
		font-size: 2.25em;
		text-align: center;
		//line-height: 1.25em;
	}

	img {
		width: 100%;
		margin: 75px 0 0;
	}
}

//About

section.profile-picture {
	@include center-width(25%, 0 auto);
	float: left;

	img {
		width: 200px;
	}
}

section.about {
	@include center-width(50%, 0 auto);
	float: left;

	h2 {
		margin-top: 0;
		font-size: 1.625em;
		font-style: italic;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 70px;
	}

	// a {
	// 	color: $black;
	// }

	// a:hover,
	// a:focus,
	// a:active {
	// 	background-image: linear-gradient(to top,
	// 	transparent 10%,
	// 	$darkred 10%,
	// 	$darkred 14%,
	// 	transparent 10%
	// );
	// }
}

section.about-sidebar {
	@include center-width(25%, 0);
	float: left;

	article {
		float: right;
		width: 200px;
		//margin-left: 56px;

		&.top-artists {
			display: none;
		}
	}

	h4 {
		margin: 0;
		font-family: $sans-serif;
		font-size: .875em;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	ul {
		margin: 10px 0 25px;
	}

	li {
		margin: 3px 0;
		color: $semigrey;
		font-family: $serif;
		font-size: 1em;
		line-height: 1.125em;
	}

	a,
	a.visited {
		background-image: none;
		color: $semigrey;
	}

	a:hover,
	a:focus,
	a:hover {
		color: $black;
	}

}

section.instagram {
	clear: both;
	@include center-width(100%, 0 auto);

	img {
		@include ease-in-out($global-ease);
		width: 16%;
		margin: .33% .33% 0;
		pointer-events: auto;
	}

	.hover {
		margin: -30% 0 0 -40%;
	}
}

//Blog

section.blog,
section.speak {
	//@include center-width(100%, 0 auto);

	h2 {
		margin: 0;
		font-size: 1.625em;

		a {
			background-image: none;
			color: $black;
			text-shadow: none;
			@include ease-in-out($global-ease);

			&:hover,
			&:focus,
			&:active {
				color: $semigrey;
			}
		}
	}

	h3 {
		margin: 5px 0 15px;
		color: $darkgrey;
		font-family: $sans-serif;
		font-size: .875em;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	p {
		margin: 0;
	}

	article {
		padding: 40px 0;
		border-bottom: 1px solid $lightgrey;

		&:first-child {
			padding: 0 0 40px;
		}

		&:last-child {
			padding: 40px 0 0;
			border-bottom: 0;
		}
	}
}

//Blog Post

section.blog-post,
section.project,
section.quotes,
section.speaking,
section.speak {

	header {
		@include center-width(75%, 0 auto);

		h2 {
			@include center-width(100%, 75px auto 50px);
			font-size: 1.25em;
			line-height: 1.25em;
		}

		section {
			display: inline;
			float: left;
			width: 33%;
			margin: 2px 0 0;
			text-align: center;
			vertical-align: top;

			h3 {
				margin: 0 0 5px;
				color: $darkgrey;
				font-family: $sans-serif;
				font-size: .875em;
				letter-spacing: 2px;
				text-transform: uppercase;
			}

			p {
				margin: 0 !important;
				color: $semigrey;
				font-size: 1.125em;
			}
		}

	}
}

section.blog-post {

	article {
		@include center-width(75%, 0 auto);
		margin: 75px auto 0;

		h2:first-child {
			margin: 0;
		}

		h2 {
			margin: 2em 0 0;
			font-size: 1.625em;
		}

		h3 {
			margin: 0;
			font-size: 1.4em;
			text-indent: 1.7em;
		}

		p {
			margin: 1em 0;
			text-indent: 2em;

			&.image-caption {
				margin: 0;
				font-size: 1.125em;
				font-style: italic;
				text-align: center;
				text-indent: 0;
			}
		}

		img {
			display: block;
			width: 50%;
			margin: 10px auto;

			&.fifty {
				float: left;
				width: 50%;
				pointer-events: auto;
			}

			&.full {
				width: 80%;
			}
		}
	}
}

section.project,
section.quotes,
section.speaking {

	header {

		.project-url {
			a {
				background-image: none;
			}
		}
	}

	img {
		@include center-width(100%, 5px auto 45px);

		&.project-main-image {
			@include center-width(100%, 45px auto);
			//@include animation-delay(3.75s);
		}
	}

	h4,
	span.quoted {
		margin: 0;
		font-family: $sans-serif;
		font-size: 1em;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	span.quoted {
		display: block;
		text-align: right;
	}

	p {
		margin: .5em 0;
	}

	p:last-child {
		margin: .5em 0 0;
	}

	article {
		margin: 0 0 2.5em;
	}

	.project-left,
	.project-right {
		display: inline;
		float: left;
		width: 50%;
		vertical-align: top;

		img {
			float: right;
			width: 75%;
			margin: 0;
		}
	}

}

section.speak {
	h3 {
		float: left;
		margin: 5px 40px 15px 0;
	}

	header {
		h2 {
			text-align: center;
		}
	}
}

section.speaking {
	img {
		display: block;
		width: 50%;
		margin: 2% auto 0;

		&.fifty {
			float: left;
			width: 48%;
			margin-right: 2%; // This should only be on the first of each row. But working on a crappy mobile internet connection here
			pointer-events: auto;

			&:nth-child(odd) {
				margin-right: 2%;
			}
		}

		&.full {
			width: 80%;
		}
	}
}

section.back-forward {
	@include center-width(80%, 40px auto);
	max-width: $global-maxwidth;
	font-size: 1.25em;

	a {
		background-image: none;
		text-shadow: none;
	}

	&.blog-arrows {
		@include center-width(60%, 40px auto);
	}
}

.left-arrow,
.right-arrow {
	vertical-align: top;
}

.left-arrow {
	float: left;
}

.right-arrow {
	float: right;
}

.left-arrow-content p,
.right-arrow-content p {
	margin: 0;
	color: $semigrey;
	font-style: italic;
	line-height: .688em;
}

.left-arrow-content p:hover,
.right-arrow-content p:hover {
	color: $black;
}

.hidden-arrow,
section.back-forward a {
	@include ease-in-out($global-ease);
}

p.tweet-arrow {
	font-size: .875em;
}

.hidden-arrow {
	font-size: .688em;
	@include opacity(0);
}

.left-arrow:hover .hidden-arrow,
.left-arrow:focus .hidden-arrow,
.left-arrow:active .hidden-arrow,
.right-arrow:hover .hidden-arrow,
.right-arrow:focus .hidden-arrow,
.right-arrow:active .hidden-arrow {
	@include opacity(1);
	@include ease-in-out(0);
}

//Videos

.video-container {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-top: 30px;
	padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//Footer

footer {
	padding: 50px 0;

	p {
		margin: 0;
		color: $semigrey;
		font-size: 1em;
		line-height: 1em;
		text-align: center;
	}

	.email {
		font-style: italic;
	}

	a,
	a:visited {
		@include ease-in-out($global-ease);
		background-image: none;
		color: #808080;
		text-decoration: none;
		text-shadow: none;
	}

	a:hover,
	a:focus,
	a:active {
		color: $black;
	}
}

.last-fade {
	@include animation-delay(1s);
}

@import "mobile";
