---
layout: layouts/base.njk
eleventyExcludeFromCollections: true

title: "404: Page not found"

permalink: /404/index.html
---
<div class='section section--standard section--404'>
  {% set title = '404.' %}
  {% set header_content = "<p>This page could not be found.</p>
    <p><a href='/'>Return home</a></p>" %}
  {% include 'partials/header.njk' %}
</div>
