---
layout: layouts/base.njk

title: Blog.

menukey: blog
permalink: /blog/index.html
---

{% set filtersList = ['all', 'code', 'life'] %}

<div class='section section--standard section--blog'>
  <div class='row center-md'>
    <div class='col-xs-12 col-md-6 text-left'>
      <div class='section__header'>
        <h2>{{ title }}</h2>
      </div>
      <div class='section__filter-wrapper'>
        {% for filter in filtersList %}
          <input id='filter-{{ filter }}' value='{{ filter }}' name='filter' type='radio' class='filter__input' {{ 'checked' if loop.first }}>
          <label for='filter-{{ filter }}' class='filter__label pip posts__tag posts__tag--{{ filter }}'>{{ filter }}</label>
        {% endfor %}

        <ul class='posts filter__list posts-count text-left' style='counter-reset: start-from {{ collections.posts | length + 1}}'>
          {% for post in collections.posts %}
            <li class='section__item' data-filter='all {{ post.data.tags | join(' ') }}'>
            {% set showCount = true %}
              {% include 'partials/blog-small-item.njk' %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>