---
layout: layouts/base.njk

title: Food.

menukey: food
permalink: /food/index.html
---
<div class='section section--standard section--food'>
  {% set header_content = "<p>I love to cook simple with fresh ingredients, from pan to plate.</p>
    <p>All my recipes are vegetarian and dairy free (except for the occasional inclusion of halloumi) and most can be made vegan, if they're not already.</p>
    <p>You can ask questions via <a href='https://instagram.com/foodwithbenjamin'>my food Instagram</a>.</p>" %}
  {% include 'partials/header.njk' %}
  <div class='row row--md-padding'>
    {% for post in collections.food | reverse %}
      <div class='col-xs-12 col-sm-6 col-md-4 food__item'>
        <a class='link--exclude' href='{{ post.url }}'>
          <div class='food__item__image'>
            <img src='../img/food/{{ post.data.image }}'>
          </div>
          <p>{{ post.data.title | default(page.url) }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>