---
layout: layouts/base.njk

title: Home

menukey: home
permalink: /index.html
---
<div class='section section--homepage'>
  <div class='row'>
    <div class='col col-xs-12'>
      <div class='row section__floating--horizontal'>
        <div class='col col-xs-12 col-md-7'>
          <div class='section--intro__picture'>
            {% include 'partials/profile-picture.njk' %}
            {# <img src='/img/profile-pic/illustration.jpg' alt='Sketch of Benjamin' class='hover-image' /> #}
          </div>
        </div>
        <div class='col col-xs-12 col-md-5 first-xs last-md'>
          <div class='section--intro__wrapper'>
            <div class='section__header'>
              <h2>Hey.</h2>
            </div>
            <div class='section--intro section__floating section__floating--right-to-left'>
              <p>I'm Benjamin, a lead javascript / frontend engineer, based {{ myself.currentLocation }}.</p>
              <p>{{ myself.fe }}</p>
              <p>When not wrangling a frontend, I love to <a href='/food'>cook food</a>, cycle, play frisbee with <a href='https://www.instagram.com/thebcsupernova/'>Nova</a>, listen to almost any genre of music, <a href='https://github.com/nothingrandom'>contribute to open source</a>, hike in the mountains, and spend time with my wife, <a href='https://instagram.com/indiazoeann'>Indy</a>.</p>
              {% include 'partials/social.njk' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='section section--homepage'>
  <div class='row'>
    <div class='col col-xs-12'>
      <div class='section__header'>
        <h5>Latest GitHub repos</h5>
        <h2>Projects.</h2>
        <a class='section__header__see link--wiggle' href='https://github.com/nothingrandom'>See all <i class='fa-thin fa-eyes'></i></a>
      </div>
      <div class='row'>
        {% for repo in github.myRecentRepos %}
          <div class='col-xs-12 col-sm-4 section__item'>
            <a href='{{ repo.html_url }}' target='_blank' rel='noopener noreferrer'>
              <span class='pip section__item__tag project__language project__language--{% lowercase repo.language %}'>{{ repo.language }}</span>
              <h3 class='section__item__header'>{{ repo.name }}</h3>
              <p class='section__item__description'>{{ repo.description }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class='section section--homepage--food'>
  <div class='row'>
    <div class='col col-xs-12'>
      <div class='section__header'>
        <h2>Food.</h2>
      </div>
      <div class='row section__item--food'>
        <div class='col-xs-12 col-md-4'>
          <div class='section__intro'>
            <p>It's no secret, I love food. When I'm finished from a day writing code, squishing bugs, and project management there's few things more enjoyable than preparing dinner.</p>
            <p>I publish my recipes here, on this site, mostly as a guide for me that doesn't get covered in oil or soy sauce and also for those who want to try some of my favourites.</p>
            <p><a href='/food/'>View recipes.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='section section--homepage'>
  <div class='row'>
    <div class='col col-xs-12'>
      <div class='section__header'>
        <h5>Recent thoughts</h5>
        <h2>Blog.</h2>
        <a class='section__header__see link--wiggle' href='/blog/'>See all <i class='fa-thin fa-eyes'></i></a>
      </div>
      <div class='row'>
        {% for post in collections.posts | limitTo(3) %}
          <div class='col-xs-12 col-sm-4 section__item'>
            {% include 'partials/blog-small-item.njk' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
