---
layout: layouts/base.njk

title: Offline

permalink: /offline.html
---
<div class='section section--standard section--404'>
  {% set header_content = "<p>Either this website or you are currently offline.</p>" %}
  {% include 'partials/header.njk' %}
</div>
