---
layout: layouts/base.njk

title: Offline

permalink: /offline.html
---
<div class='section section--standard section--404'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='section__header'>
        <h2>{{ title }}</h2>
      </div>
      <p>Either this website or you are currently offline.</p>
    </div>
  </div>
</div>
