---
import Layout from '../layouts/Layout.astro';
import ResumeSocial from '../components/ResumeSocial.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';

import { getCollection } from 'astro:content';
const experienceItems = (await getCollection('experience')).sort((a, b) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime());
---

<Layout>
  <div class='section section--standard section--cv'>
    <div class='row center-md'>
      <div class='col-xs-12 col-md-6'>
        <div class='section__header text-left'>
          <h2>Resume.</h2>
          <h3 class='font--bold'>Benjamin Grant</h3>
        </div>
        <div class='section__intro text-left'>
          <p>As a Lead Frontend Engineer, I have a proven track record of building scalable, high-performance SaaS platforms. I specialize in modern JavaScript/TypeScript, React, and Node.js, bringing extensive experience in frontend architecture, performance optimisation, and cross-functional collaboration. Throughout my career, I've consistently driven product success through technical leadership and strategic process improvements.</p>
        </div>
      </div>
    </div>
    <div class='row center-md row--md-padding'>
      <div class='col-xs-12 col-md-6'>
        <ResumeSocial />
      </div>
      <div class='col-xs-12 col-md-8'>
        <ul class='cv__list text-left'>
          <Skills />
          <hr />
          {experienceItems.map((experience) => (
            <Experience
              experience={experience}
            />
          ))}
        </ul>
      </div>
    </div>
  </div>
</Layout>
