---
import { getCollection } from "astro:content";
import Colleagues from "../components/Colleagues.astro";
import Experience from "../components/Experience.astro";
import ResumeSocial from "../components/ResumeSocial.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

const experienceItems = (await getCollection("experience")).sort(
	(a, b) =>
		new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime(),
);
---

<Layout>
  <div class='section section--standard section--cv'>
    <div class='row center-md'>
      <div class='col-xs-12 col-md-6'>
        <div class='section__header text-left'>
          <h2>Resume.</h2>
          <h3 class='font--bold'>Benjamin Grant</h3>
        </div>
        <div class='section__intro text-left'>
          <p>Lead Frontend Engineer with a 10+ years' experience building scalable, user-centered SaaS platforms. I combine deep technical expertise in TypeScript/React with strong product intuition and design collaboration skills. Known for translating complex requirements into elegant solutions while mentoring teams and driving technical excellence. Passionate about accessibility, performance optimization, and creating delightful user experiences.</p>
        </div>
      </div>
    </div>
    <div class='row center-md row--md-padding'>
      <div class='col-xs-12 col-md-6'>
        <ResumeSocial />
      </div>
      <div class='col-xs-12 col-md-8'>
        <ul class='cv__list text-left'>
          <Skills />
          <hr />
          {experienceItems.map((experience) => (
            <Experience
              experience={experience}
            />
          ))}
          <hr />
          <Colleagues />
        </ul>
      </div>
    </div>
  </div>
</Layout>
