// Import barebones scss structure
@import 'utilities', 'reset', 'variables', 'colors', 'fonts';

// Grid
@import 'grid';

html {
  @include font-smoothing(on);
  font-size: $base-font-size;
}

@import 'typography';

// YOUR STYLES HERE
// ==============================
html,
body,
.page {
  overflow-x: hidden;
}

.section {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  color: palette(black);
}

.section--intro {
  h2 {
    margin: em(20px) 0 em(10px);
    font-size: em(47px);
    line-height: 1.25;

    @include breakpoint(md) {
      margin-top: rem(100px);
    }
  }

  h1 {
    margin-bottom: rem(30px);
    color: palette(grey);
    font-size: em(20px);
  }
}

.profile-pic {
  position: relative;
  right: -1.5rem;
  margin-bottom: rem(60px);

  @include breakpoint(md) {
    right: 0;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    @include breakpoint(sm) {
      width: 500px;
      height: 500px;
    }

    @include breakpoint(md) {
      width: 100%;
      height: auto;
    }
  }

  a {
    position: absolute;
    bottom: 0;
    left: -10px;
    color: palette(grey);
    writing-mode: vertical-rl;

    @include breakpoint(md) {
      bottom: 300px;
      left: -40px;
    }
  }
}

.section--work {
  background-color: palette(black);
  color: palette(white);

  a {
    @include link-underline(palette(white));
    color: palette(grey);
    transition: color ease-in-out .2s;

    &:hover {
      color: palette(white);
    }
  }

  h4 {
    font-size: em(24px);
  }

  .work__item {
    margin-bottom: rem(40px);

    &:first-child {
      margin-top: rem(30px);
    }

    img {
      @include breakpoint(md) {
        padding-right: rem(40px);
      }
    }
  }
}

.section--blog {
  ul {
    columns: 1;

    @include breakpoint(md) {
      columns: 2;
    }
  }

  li {
    display: inline-block;
    list-style: none;

    &:nth-child(n+4) {
      display: none;

      @include breakpoint(md) {
        display: block;
      }
    }

    @include breakpoint(md) {
      &:nth-child(n+7) {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  h4 {
    margin: 0;
    font-size: em(24px);
  }

  h5 {
    margin: 10px 0 0;
    font-size: em(16px);
  }

  p {
    color: palette(grey);
    transition: color ease-in-out .2s;
  }

  a {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 0;
    transition: padding ease-in-out .2s;

    &:hover {
      padding-right: 20px;
      padding-left: 20px;

      p {
        color: palette(blue);
      }
    }
  }
}

.section--contact {
  background-color: lighten(palette(blue), 28%);

  ul {
    margin: 30px 0;
    text-align: center;
    column-count: 3;

    @include breakpoint(sm) {
      column-count: 6;
    }
  }

  a {
    @include link-underline(palette(blue));
    color: palette(grey);
    transition: color ease-in-out .2s;

    &:hover {
      color: palette(black);
    }
  }
}

.col-xs-hidden {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}
