.section--bio {
  .bio__photos {
    img {
      margin-bottom: 25px;
    }

    .col-md-6 {
      @include breakpoint(md) {
        padding: 0 .5rem;
      }
    }
  }

  .intro__blurb {
    margin-top: $standard-spacing;

    @include breakpoint(sm) {
      margin-top: unset;
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
