.section--blog-item {
  h2 {
    text-align: center;

    @include breakpoint(md) {
      font-size: em(84px, 16px);
    }
  }

  p,
  ul {
    margin-bottom: $standard-spacing / 2;
  }

  li {
    margin-bottom: 10px;
    font-size: em(20px);
  }

  ul {
    counter-reset: section;

    &:not(.no-count) {
      li {
        position: relative;
        padding-left: 25px;

        &:before {
          position: absolute;
          left: 0;
          content: counter(section)'. ';
          counter-increment: section;
          white-space: nowrap;
          pointer-events: none;
        }
      }
    }
  }

  img {
    margin: 0 auto $standard-spacing;
  }

  h3 {
    margin-top: $standard-spacing;
    margin-bottom: 20px;
  }
}

.blog__header {
  margin-bottom: $standard-spacing;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.blog__footer {
  @include color-schemes(border-top-color, palette(grey, pale), palette(black, true));
  margin-top: $standard-spacing;
  border-top: 1px solid;
}
