// .posts {

// }

.posts-count {
  li {
    position: relative;
    padding: 10px 0 10px 40px;
    font-size: 22px;
    counter-increment: start-from -1;

    &:first-child {
      padding-top: 0;
    }

    &::before {
      @extend %serif-style;
      position: absolute;
      left: 0;
      white-space: nowrap;
      content: counter(start-from, decimal-leading-zero)'. ';
      color: palette(grey);
      pointer-events: none;
    }

    a {
      @include link-underline(palette(blue), palette(black));
    }
  }
}

.section--blog-item {
  p {
    margin-bottom: $standard-spacing / 2;
  }

  li {
    margin-bottom: 10px;
    font-size: em(20px);
    list-style: disc;
  }

  img {
    margin: $standard-spacing auto;
  }
}

.blog__header {
  margin-bottom: $standard-spacing;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.blog__footer {
  margin-top: $standard-spacing;
  border-top: 1px solid palette(grey, pale);
}
