.section--food {
  .section__intro {
    @include section-box-background(palette(sections, food));
  }

  .food__item {
    @include breakpoint(md) {
      padding: 0 !important;
    }

    a {
      @include color-schemes(color, palette(black), palette(white));
      display: block;
      width: 100%;
      padding-bottom: 1rem;

      @include breakpoint(md) {
        // margin-bottom: $standard-spacing;
        padding: .5rem 1.5rem;
      }

      &:hover {
        @include breakpoint(md) {
          @include color-schemes(background-color, palette(grey, pale), palette(black, true));
        }

        img {
          transform: scale(1.05);
        }
      }

      .food__item__image {
        overflow: hidden;

        img {
          transition: transform ease-in-out ($transition-time * 1.5);
        }
      }
    }
  }
}

.recipe__stats {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include breakpoint(md) {
    display: block;
    margin-top: 40px;
  }

  li {
    margin-bottom: 15px;

    span {
      display: block;
      margin-bottom: 3px;
      color: palette(green, dark);
      font-weight: 600;
    }
  }
}

.recipe__challenge {
  .recipe__challenge--on {
    --fa-primary-color: #FFC72A;
    // --fa-secondary-color: #E61E21;
  }

  .recipe__challenge--off {
    color: palette(grey);
  }
}

.recipe__ingredients {
  h4 {
    margin-bottom: 10px;
  }
}

.recipe__method {
  margin-top: 40px;

  @include breakpoint(md) {
    margin-top: 0;
  }
}
