.section--homepage {
  margin: 80px 0;

  @include breakpoint(md) {
    margin: 200px 0;
  }

  &--food {
    .section__floating--horizontal {
      margin-left: -100px;
    }
  }
}

.section--intro__wrapper {
  margin-bottom: 20px;

  @include breakpoint(md) {
    height: 640px;
    margin-bottom: 0;
  }
}

.section--intro {
  @include section-box-background(palette(blue, dark));

  .social {
    a {
      color: text-contrast(palette(blue, dark));

      &:hover {
        color: palette(red);
      }
    }
  }
}

.section--homepage--food {
  .col-md-4 {
    position: relative;
  }

  .section__item--food {
    padding-top: 75px;

    &::before {
      @include pseudo();
      @include force-full-width();
      z-index: -1;
      margin-top: -75px;
      background-color: palette(yellow);
    }

    .section__intro {
      @include section-box-background(palette(black));
      margin: -20px 0 0;

      @include breakpoint(md) {
        margin: 0;
      }
    }
  }
}
