.section--homepage {
  margin: 200px 0;

  &--food {
    .section__floating--horizontal {
      margin-left: -100px;
    }
  }
}

.section--intro {
  background-color: palette(blue, dark);
  color: text-contrast(palette(blue, dark));

  .social {
    a {
      color: text-contrast(palette(blue, dark));

      &:hover {
        color: palette(red);
      }
    }
  }
}
