.section--homepage {
  margin: 60px 0;

  @include breakpoint(md) {
    margin: 160px 0;
  }

  &--food {
    .section__floating--horizontal {
      margin-left: -100px;
    }
  }
}

.section--intro__picture {
  position: relative;

  .hover-image {
    @include center(horizontal);
    top: 0;
    // top: -70px;
    display: none;
    width: unset;
    // transform: translate(-50%) scale(.6);

    @include breakpoint(sm) {
      // top: 60px;
      // transform: translate(-50%);
    }

    @include breakpoint(md) {
      // top: 10px;
    }
  }

  &:hover {
    .hover-image {
      display: block !important;
    }
  }
}

.section--intro__wrapper {
  margin-bottom: 20px;

  @include breakpoint(md) {
    height: 610px;
    margin-bottom: 0;
  }
}

.section--intro {
  @include section-box-background(palette(blue, dark));

  .social {
    a {
      color: text-contrast(palette(blue, dark));

      &:hover {
        color: palette(red);
      }
    }
  }
}

.section--homepage--food {
  .col-md-4 {
    position: relative;
  }

  .section__item--food {
    padding: 75px 0 300px;

    @include breakpoint(md) {
      padding: 75px 0 0;
    }

    &::before {
      @include pseudo();
      @include force-full-width();
      z-index: -1;
      margin-top: -75px;
      background-image: url('../img/food-hero.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      // background-color: palette(sections, food);
    }

    .section__intro {
      @media (prefers-color-scheme: dark) {
        @include section-box-background(palette(black, true));
      }

      @media (prefers-color-scheme: light) {
        @include section-box-background(palette(black));
      }

      position: relative;
      top: 360px;
      margin: -20px 0 75px;

      @include breakpoint(md) {
        top: unset;
        margin: 0 0 75px;
      }
    }
  }
}
