<perch:before>
	<div class="page-section page-section--cv">
		<div class="row">
			<div class="column medium-10 large-8 medium-centered">
</perch:before>

<perch:blocks>
	<perch:block type="header" label="Header">
		<h4><perch:content id="text" type="text" label="Header" required="true" title="true" /></h4>
	</perch:block>

	<perch:block type="dash-list" label="Dashed list">
		<div class="list--dashed">
			<perch:content id="list" type="textarea" label="List" markdown="true" editor="markitup" />
		</div>
	</perch:block>

	<perch:block type="list" label="List">
		<perch:content id="list" type="textarea" label="List" markdown="true" editor="markitup" />
	</perch:block>

	<perch:block type="career" label="Career">
		<div class="cv-item__career">
			<p class="text--italic"><perch:content id="text" type="textarea" label="Work place" required="true" title="true" markdown="true" editor="markitup" /></p>
			<perch:content id="content" type="textarea" label="Content" markdown="true" editor="markitup" />
		</div>
	</perch:block>

	<perch:block type="text" label="Text">
		<perch:content id="content" type="textarea" label="Content" markdown="true" editor="markitup" />
	</perch:block>
</perch:blocks>

<perch:after>
			</div>
		</div>
	</div>
</perch:after>