<li class='cv__item'>
  <div class='cv__item__header'>
    <h3 class='font--bold'>What colleagues say</h3>
    <ul class="list--no-style">
      <li><i>"His knowledge of frontend technologies makes him an expert in the field; Benjamin was the person I went to when no one else could figure out the hard problems."</i> - Engineering Manager</li>
      <li><i>"Benjamin has naturally become our go-to person... He digs deeper, asks smart questions, and delivers solutions that make you think 'of course, that's perfect.'"</i> - Senior Product Owner</li>
      <li><i>"He understands and implements designs to near perfection... He knows the value of UX and thinks alongside you, resulting in technically feasible yet design-first solutions."</i> - Product Designer</li>
    </ul>
  </div>
</li>