---
const currentYear = new Date().getFullYear();
---

<div class='section section--footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-lg-8'>
        <div class='row'>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>&copy; 1997 - {currentYear}</h4>
            <p><a href='https://begrant.io'>Benjamin Grant</a></p>
          </div>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>Contact</h4>
            <p><a href='mailto:benjamin@nothingrandom.com?subject=Website%20Enquiry'>benjamin@nothingrandom.com</a></p>
          </div>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>Social</h4>
            <p>
              <a href='https://github.com/nothingrandom' target='_blank' rel='noopener noreferrer'>GitHub</a> /
              <a href='https://instagram.com/nothingrandom' target='_blank' rel='noopener noreferrer'>Instagram</a>
            </p>
          </div>
        </div>
      </div>
      <div class='col-xs-12 col-lg-4'>
        <p class='footer__description'>
          This site is made with Astro. It runs on servers using hydropower. The source code is available on <a href='https://github.com/nothingrandom/website'>GitHub</a>.
        </p>
      </div>
    </div>
  </div>
</div>