---
import { Image } from 'astro:assets';

import profilePicture from '../images/benjamingrant-2024.jpg';
import Social from './Social.astro';
---

<div class='section section--homepage'>
  <div class='row'>
    <div class='col col-xs-12'>
      <div class='row section__floating--horizontal'>
        <div class='col col-xs-12 col-md-7'>
          <div class='section--intro__picture'>
            <Image
            src={profilePicture}
            widths={[240, 540, 720, profilePicture.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${profilePicture.width}px`}
            alt='Benjamin Grant'
            loading='eager'
            />
          </div>
        </div>
        <div class='col col-xs-12 col-md-5 first-xs last-md'>
          <div class='section--intro__wrapper'>
            <div class='section__header'>
              <h2>Hey.</h2>
            </div>
            <div class='section--intro section__floating section__floating--right-to-left'>
              <p>I'm Benjamin, a lead frontend engineer specializing in modern JavaScript/Typescript and Node.js. I have a passion for building scalable, user-friendly web applications. Using my extensive expertise in modern JavaScript frameworks, performance optimisation, and product-driven development, I've played a key role in shaping frontend architecture for SaaS platforms.</p>
              <p>I bridge technical implementation with strategic vision, ensuring that every line of code directly supports broader business and user experience goals. From leading major technical initiatives to driving critical product integrations, I focus on delivering clean, maintainable code and seamless user experiences.</p>
              <p>Outside of work, I enjoy baking bread, playing frisbee with my dog, Nova, and hiking in the mountains with my wife, Indy.</p>
              <Social />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>