<li class='cv__item'>
  <div class='cv__item__header'>
    <h3 class='font--bold'>Skills & Technology</h3>
    <ul>
      <li>Frontend: TypeScript, JavaScript (ES6+), React, Next.js, Astro, Vue.js, Zustand</li>
      <li>Testing: Jest, Playwright, Cypress, Mocha</li>
      <li>Backend: Node.js, bun.sh</li>
      <li>Build & DevOps: Webpack, Vite, Docker, CI/CD (GitHub Actions, CircleCI)</li>
      <li>Browser Extensions: Chrome/Firefox/Safari Extensions, Manifest V2 & V3 compliance</li>
      <li>Collaboration & Leadership: Technical mentorship, cross-functional collaboration, agile methodologies</li>
    </ul>
  </div>
</li>