<li class='cv__item'>
  <div class='cv__item__header'>
    <h3 class='font--bold'>Skills & Technology</h3>
    <ul>
      <li>Frontend: TypeScript, JavaScript (ES6+), React, Next.js, Astro, Vue.js, Zustand</li>
      <li>Testing: Jest, Playwright, Cypress, accessibility compliance</li>
      <li>Backend: Node.js, bun.sh, Docker, CI/CD (Github Actions, CircleCI)</li>
      <li>Leadership: Technical mentorship, cross-functional collaboration, agile methodologies</li>
      <li>Certifications: The A11Y Collective (Accessible Code, Advanced Accessible Components, and Web Accessibility)</li>
    </ul>
  </div>
</li>