---
import Github from 'iconoir/icons/github.svg';
import Instagram from 'iconoir/icons/instagram.svg';
import Linkedin from 'iconoir/icons/linkedin.svg';
import Music from 'iconoir/icons/music-double-note.svg';
---
<ul class='social'>
  <li><a class='link--social' href='https://github.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on GitHub'><Github /> Github</a></li>
  <li><a class='link--social' href='https://instagram.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Instagram'><Instagram /> Instagram</a></li>
  <li><a class='link--social' href='https://www.linkedin.com/in/-benjamin-grant/' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Linkedin'><Linkedin /> LinkedIn</a></li>
  <li><a class='link--social' href='https://music.apple.com/profile/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Apple Music'><Music /> Apple Music</a></li>
</ul>