<div class="page-section page-section--arrows">
	<div class="row">
		<div class="column medium-10 large-8 medium-centered">
			<div class="row">
				<div class="column small-6">
					<div class="page-arrow">
						<p><a href="<perch:content id="slug-1" type="text" label="Slug Prev" />"><span class="page-arrow__arrow">&laquo;</span> <span class="page-arrow__text"><perch:content id="text-1" type="text" label="Text Prev" /></span></a></p>
					</div>
				</div>
				<div class="column small-6 text--right">
					<div class="page-arrow">
						<p><a href="<perch:content id="slug-2" type="text" label="Slug Next" />"><span class="page-arrow__text"><perch:content id="text-2" type="text" label="Text Next" /></span> <span class="page-arrow__arrow">&raquo;</span></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>