<perch:before>
	<div class="page-section page-section--project">
		<div class="row">
</perch:before>

<perch:blocks>
	<perch:block type="wide-text" label="Wide text">
		<div class="column small-12">
			<div class="project__section">
				<h4><perch:content id="title" type="text" label="Title" required="true" /></h4>
				<perch:content id="text" type="textarea" label="Text" markdown="true" editor="markitup" />
			</div>
		</div>
	</perch:block>

	<perch:block type="small-text" label="Small text">
		<div class="column small-12 medium-6">
			<div class="project__section">
				<h4><perch:content id="title" type="text" label="Title" required="true" /></h4>
				<perch:content id="text" type="textarea" label="Text" markdown="true" editor="markitup" />
			</div>
		</div>
	</perch:block>

	<perch:block type="wide-image" label="Wide image">
		<div class="column small-12">
			<img class="project__banner" src="<perch:content type="image" id="image" label="Image" />" alt="<perch:content type="text" id="alt" label="Description" required="true" />" />
		</div>
	</perch:block>

	<perch:block type="small-image" label="Small image">
		<div class="column small-12 medium-6">
			<img class="project__image" src="<perch:content type="image" id="image" label="Image" />" alt="<perch:content type="text" id="alt" label="Description" required="true" />" />
		</div>
	</perch:block>
</perch:blocks>

<perch:after>
		</div>
	</div>
</perch:after>