<h3><perch:content id="blurb" type="textarea" label="Blurb" required="true" /></h3>
<div class="row">
	<div class="column small-12 medium-4">
		<div class="info-header__section">
			<h4>Date</h4>
			<p><perch:content id="month" type="text" label="Month" required="true" /> <perch:content id="year" type="text" label="Year" required="true" /></p>
		</div>
	</div>
	<div class="column small-12 medium-4">
		<div class="info-header__section">
			<div class="info-header__section">
				<h4>Role</h4>
				<p><perch:content id="role" type="text" label="Role" required="true" /></p>
			</div>
		</div>
	</div>
	<div class="column small-12 medium-4">
		<div class="info-header__section">
			<div class="info-header__section">
				<h4>URL</h4>
				<p><a href="<perch:content id="slug" type="text" label="Slug" />"><perch:content id="url" type="text" label="URL" /></a></p>
			</div>
		</div>
	</div>
</div>