// stylelint-disable

$palettes: (
  white: (
    base: #FFFFFF,
    pale: #F2F4F6
  ),
  black: (
    base: #28292B,
    off: #1B1B1D,
    true: #000000
  ),
  grey: (
    base: #9B9BA5,
    pale: #ECEEEF
  ),
  blue: (
    dark: #2323FD,
  ),
  red: (
    base: #E61E21
  ),
  sections: (
    search: #A3E7FC,
    blog: #BCE784,
    food: #FFC72A,
    bio: #954AB2,
    menu: #FFD1DC
  )
);