$palettes: (
  white: (
    base: #FFFFFF
  ),
  black: (
    base: #28292B,
    off: #1B1B1D,
    true: #000000
  ),
  grey: (
    base: #9B9BA5,
    pale: #ECEEEF
  ),
  blue: (
    base: #76EEDF
    // base: #B7E3E4,
  ),
);
