@mixin link-underline($color: palette(white), $text-color: palette(blue)) {
  // @include color-schemes(color, $text-color, palette(blue));
  display: inline-block;
  color: $text-color;
  text-decoration: none;

  // @if $text-color != palette(grey) {
  //   color: $text-color !important;
  // }

  &::after {
    position: relative;
    right: 0;
    bottom: -3px;
    left: 0;
    display: block;
    height: 4px;
    content: '';
    background-color: $color;
    opacity: 0;
    transition: all ease-in-out .2s;
  }

  &:hover {
    color: $color !important;

    &::after {
      bottom: 6px;
      opacity: 1;
    }
  }
}

.link-underline {
  @include link-underline(palette(blue), palette(grey));
}

body {
  font-family: sans-serif;
}

%font-sans {
  font-family: $sans;
  font-feature-settings: 'ss02', 'ss04', 'ss06'; //ss03 for curled 'r'
  font-display: swap;
}

%font-serif {
  font-family: $serif;
  font-display: swap;
}

%font-mono {
  font-family: $mono;
}

@include header-style() {
  @extend %font-sans;
  // @include color-schemes(color, palette(black), palette(white));
  font-weight: 400;
}

@include paragraph-style() {
  @extend %font-sans;
  // @include color-schemes(color, palette(black), palette(white));
}

h1 {
  @extend %font-serif;
  font-size: em(42px);
  // font-weight: 600;
}

h2 {
  font-size: em(126px);
  font-weight: 700;
  letter-spacing: -2px;
}

h3 {
  font-size: em(36px);
  letter-spacing: -.5px;
}

h4 {
  font-size: em(24px);
}

h5 {
  @extend %font-mono;
  font-size: em(18px);
}

p {
  margin: 14px 0;
  font-size: em(20px);
  line-height: 1.5;

  a {
    // color: palette(blue);
    &:not(.link--hero):not(.link--social):not(.link--exclude) {
      @include link-underline();
    }

    &:hover {
      // color: palette(black);
    }
  }

  code {
    padding: 0 5px;
    font-size: em(18px, 20px);
  }
}

a {
  text-decoration: none;
  transition: color $transition-time ease-in-out;
}

code {
  @extend %font-mono;
  @include color-schemes(background-color, palette(grey, pale), palette(black, off));
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
