// Import barebones scss structure
@import 'browser-reset/reset.css';
@import 'vendor/github-languages';
@import 'utilities', 'variables', 'grid', 'colors', 'fonts', 'typography';

// @import 'components/buttons';
@import 'components/filter';
@import 'components/footer';
@import 'components/logo';
@import 'components/menu';
@import 'components/posts';
// @import 'components/projects';
@import 'components/search';
@import 'components/section';
@import 'components/social';
@import 'components/toggle';

@import 'pages/bio';
@import 'pages/blog';
@import 'pages/cv';
@import 'pages/food';
@import 'pages/index';

html {
  @include font-smoothing(on);
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.row--md-padding {
  @include breakpoint(md) {
    margin-right: -1.5rem;
    margin-left: -1.5rem;

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}

.flex-spread {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
}
