---
layout: layouts/base.njk
title: Page not found
---
<div class='section section--standard section--404'>
  <div class='row'>
    <div class='col-xs-12'>
      <h2 class='section__header'>{{ title }}</h2>
      <p>This page could not be found.</p>
      <p>
        <a href='/'>Return home</a>
      </p>
    </div>
  </div>
</div>
