---
layout: layouts/base.njk
title: Bio
---
<div class='section section--bio'>
  <div class='row row--md-padding'>
    <div class='col-md-6'>
      <img src='../img/benjamin-2019-verrec-web.jpg' alt='A picture of Benjamin' />
    </div>
    <div class='col-md-6 intro__blurb'>
      <h3 class='section__header'>Hey, I'm Benjamin. And in summary, I'm a Javascript engineer based in Amsterdam, the Netherlands who cooks food, cycles a lot, and loves listening to and creating indie music.</h3>
      <p>I currently work at the IoT &amp; satellite startup <a href='https://hiber.global'>Hiber</a>, building their <span class='highlight'>frontend</span> <span class='highlight'>web</span> <span class='highlight'>systems</span> with a mix of ES6, Vue, lodash, SCSS, and pure magic. I've also been known to use React and Living Styleguides in the past.</p>
      <p>Every once in a while I'll either be creating or contributing to an <a href='https://github.com/nothingrandom'>open source</a> project, and a little more frequently than that I mix <span class='highlight'>live</span> <span class='highlight'>sound</span> and dream of making it into a real studio.</p>
      <p>During my downtime, I enjoy cycling to new locations to take pictures a little more off the beaten track, even when there is a perfectly operational train route. My wife, <a href='http://pausefornoeffect.com/'>Indy</a>, and I love to create <span class='highlight'>indie</span> <span class='highlight'>pop</span> <span class='highlight'>music</span> with our assortment of synths and guitars.</p>
      <p>I believe <span class='highlight'>food</span> <span class='highlight'>is</span> <span class='highlight'>the</span> <span class='highlight'>heart</span> of every home, and following the legacy of many a British man before me; I have a <a href='/food'>food and recipie blog</a>. I'm currently looking into ways to start jar-ing some of my food and getting it into cafes - so <a href='https://instagram.com/foodwithbenjamin'>watch this space</a>.</p>
      <p>We moved to <span class='highlight'>Amsterdam</span> together in March 2017 to join a young church, and feel like this big (but small) city matches our personalities. If you're ever in Amsterdam and share my love for coffee, local beers, or obscure indie music, let's chat.</p>
      {% include 'partials/social.njk' %}
    </div>
  </div>
</div>
