.section--contact {
	@extend %h4-column;
	position: fixed;
	bottom: 0;
	z-index: 2;
	padding-top: 140px;
	border-bottom: $page-border solid palette(white);

	.section__content {
		opacity: 0;
	}

	@include screen-max($screen-md) {
		&:before,
		&:after {
			display: none;
		}
	}

	&:after {
		@extend %position-stretch;
		position: absolute;
		z-index: -2;
		content: '';
		height: 100vh;
		background-image: url('../images/hero.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		filter: grayscale(100%);
		will-change: transform;
	}

	h3 {
		margin-top: $h3-margin + 650px;
	}

	.social-links--icons {
		margin-top: 0px;
	}
}

.contact__info {
	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: -4px;
		}
	}
}

.availability--green {
	color: palette(green);
	font-weight: 700;
}

.page-wrapper--contact {
	.page-section {
		position: relative;
		min-height: calc(100vh - 40px);

		.row {
			min-height: calc(100vh - 140px);
		}

		.vertical-align {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			animation: fadeIn ease-in 1;
			animation-fill-mode: forwards;
			animation-duration: .5s;
			// animation-delay: .5s;

			@include screen-max($screen-sm) {
				top: 0;
				left: 0;
				transform: none;
			}
		}

		.social-links {
			position: fixed;
			bottom: $double-border - 20px;
			left: 0;
			width: 100%;
			opacity: 0;
			animation: fadeIn ease 1;
			animation-fill-mode: forwards;
			animation-duration: .5s;
			animation-delay: .5s;

			@include screen-max($screen-sm) {
				padding: 0 40px;
			}
		}
	}
}
