.row {
	position: relative;
	z-index: 2;
}

.page-wrapper {
	position: relative;
	border: $page-border solid palette(white);
	color: palette(white);

	@include screen-max($screen-md) {
	}

	@include screen-max($screen-sm) {
		border-width: $page-border / 2;
	}
}

.page-opacity,
.page-opacity-two {
	@extend %position-stretch;
	position: absolute;
	background-color: palette(grey, dark);
	opacity: 0;
	will-change: opacity;
}

.page-opacity-two {
	background-color: palette(black);
}

.page-section {
	position: relative;
	overflow-y: hidden;
	min-height: 190px;
	padding: 40px;

	&:not(.section--hero) {
		h2 {
			margin-top: -10px;
			margin-bottom: 30px;
		}
	}

	@include screen-max($screen-md) {
		padding: 20px;
	}

	@include screen-max($screen-sm) {
		padding: 10px;
	}
}

.section--highlight {
	background-color: palette(white);
	color: palette(grey, dark);

	h3 {
		color: palette(grey, light);
	}

	h4 {
		border-color: palette(black);
		color: palette(black);
	}
}
