.row {
	position: relative;
	z-index: 2;
}

.page-wrapper {
	position: relative;
	padding: $page-border;
	color: palette(white);

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 12;
		border: $page-border solid palette(white);
		content: '';
		opacity: 0;
		animation: fadeIn ease 1;
		animation-fill-mode: forwards;
		animation-duration: .5s;
		pointer-events: none;

		@include screen-max($screen-md) {
		}

		@include screen-max($screen-sm) {
			border-width: $page-border / 2;
		}
	}

	@include screen-max($screen-sm) {
		padding: $page-border / 2;
	}

	&.no-js {
		&:before {
			// display: none;
		}

		h3 {
			margin-top: -10px;
		}

		.section--contact {
			&:before,
			&:after {
				display: none;
			}
		}
	}
}

.page-opacity,
.page-opacity-two {
	@extend %position-stretch;
	position: absolute;
	background-color: palette(gray, dark);
	opacity: 0;
	will-change: opacity;
}

.page-opacity-two {
	background-color: palette(black);
}

.page-section {
	position: relative;
	z-index: 2;
	overflow-y: hidden;
	min-height: 190px;
	padding: 40px;

	&:not(.section--hero) {
		h2 {
			margin-top: -10px;
			margin-bottom: 30px;
		}
	}

	@include screen-max($screen-md) {
		padding: 40px 20px;
	}

	@include screen-max($screen-sm) {
		padding: 40px 0;
	}
}

.section--highlight {
	background-color: palette(white);
	color: palette(gray, dark);

	h3 {
		color: palette(gray, light);
	}

	h4 {
		border-color: palette(black);
		color: palette(black);
	}
}
