.section--photos {
	margin-bottom: 327px;
	overflow-y: visible;

	@include screen-max($screen-md) {
		margin-bottom: 440px;
	}

	@include screen-max($screen-sm) {
		margin-bottom: 510px;
	}

	h3 {
		margin-top: $h3-margin + 430px;
		color: palette(black, off);
	}

	&.scrolled {
		background-color: palette(black);
	}

	&:after {
		position: absolute;
		right: 0;
		bottom: -100px;
		left: 0;
		height: 100px;
		content: '';
		background: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
	}
}

.photo__item {
	width: calc(33.333333333% - 28px);
	margin: -2px 14px 28px;

	&:before {
		right: 14px;
		left: 14px;
	}

	@include screen-max($screen-md) {
		width: calc(50% - 28px);
	}

	@include screen-max($screen-sm) {
		width: 100%;
		margin: -2px 0 18px;
		padding: 0 14px;

		&:nth-child(n+7) {
			display: none;
		}
	}
}
