.section--projects {
	h3 {
		margin-top: $h3-margin + 45px;
		color: palette(gray, darker);
	}
}

.project__item,
.photo__item {
	position: relative;
	margin-bottom: 28px;
	cursor: pointer;
	overflow: hidden;

	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 100%;
		background-color: rgba-convert(palette(gray), .4);
		opacity: 0;
		transition: opacity ease-in-out $transition-time;
		pointer-events: none;

		@include screen-max($screen-sm) {
			display: none;
		}
	}

	&:hover,
	&:active,
	&:focus {
		img {
			transform: scale(1.06);

			@include screen-max($screen-sm) {
				transform: none;
			}
		}

		&:before {
			opacity: 1;
		}

		.project__info,
		.photo__info {
			opacity: 1;

			// @include screen-max($screen-sm) {
			// 	h5,
			// 	h6 {
			// 		color: palette(gray, mid);
			// 	}
			// }
		}
	}

	img {
		width: 100%;
		transition: transform ease-in-out $transition-time;
	}

	a {
		color: palette(white);
	}
}

&.photo__item {
	&:before {
		margin-left: -14px;
	}
}

.project__info,
.photo__info {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 28px;
	opacity: 0;
	transition: opacity ease-in-out $transition-time;

	h5 {
		display: inline;
		// padding-bottom: 3px;
	}

	h6 {
		margin-top: 5px;
		margin-bottom: 0;
	}

	p {
		display: none;
		margin-top: 20px;
		margin-bottom: 0;
	}

	@include screen-max($screen-sm) {
		position: relative;
		padding: 10px 0;
		opacity: 1;

		h6 {
			margin-bottom: -10px;
		}

		p {
			display: none;
		}
	}

	// @include screen-max($screen-sm) {
	// 	&.photo__info {
	// 		display: none;
	// 	}
	// }
}
