.section--projects {
	h3 {
		margin-top: $h3-margin + 45px;
		color: palette(grey, darker);
	}
}

.project__item,
.photo__item {
	position: relative;
	margin-bottom: 28px;
	cursor: pointer;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background-color: rgba-convert(palette(grey), .7);
		opacity: 0;
		transition: opacity ease-in-out $transition-time;
		pointer-events: none;

		@include screen-max($screen-sm) {
			display: none;
		}
	}

	&:hover,
	&:active,
	&:focus {
		&:before {
			opacity: 1;
		}

		.project__info,
		.photo__info {
			opacity: 1;

			// @include screen-max($screen-sm) {
			// 	h5,
			// 	h6 {
			// 		color: palette(grey, mid);
			// 	}
			// }
		}
	}

	img {
		width: 100%;
	}

	a {
		color: palette(white);
	}
}

.project__info,
.photo__info {
	position: absolute;
	bottom: 0;
	padding: 28px;
	opacity: 0;
	transition: opacity ease-in-out $transition-time;

	h5 {
		display: inline;
		// padding-bottom: 3px;
	}

	h6 {
		margin-top: 5px;
		margin-bottom: 0;
	}

	p {
		margin-top: 20px;
		margin-bottom: 0;
	}

	@include screen-max($screen-sm) {
		position: relative;
		padding: 10px 0;
		opacity: 1;

		h6 {
			margin-bottom: -10px;
		}

		p {
			display: none;
		}
	}

	// @include screen-max($screen-sm) {
	// 	&.photo__info {
	// 		display: none;
	// 	}
	// }
}
