<div class='section section--footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-lg-8'>
        <div class='row'>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>&copy; 2019</h4>
            <p><a href='https://nothingrandom.com'>Benjamin Hollway</a></p>
          </div>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>Contact</h4>
            <p><a href='mailto:benjamin@nothingrandom.com?subject=Website%20Enquiry'>benjamin@nothingrandom.com</a></p>
          </div>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>Social</h4>
            <p><a href='https://github.com/nothingrandom' aria-label='Find Benjamin on GitHub'>GitHub</a> / <a href='https://instagram.com/nothingrandom' aria-label='Find Benjamin on Instagram'>Instagram</a> / <a href='https://twitter.com/nothingrandom' aria-label='Find Benjamin on Twitter'>Twitter</a</p>
          </div>
        </div>
      </div>
      <div class='col-xs-12 col-lg-4'>
        <p class='footer__description'>This site is built with <a href='https://www.11ty.io/'>eleventy</a> & <a href='https://github.com/nothingrandom/barebonesio'>barebonesio</a>. It's hosted on <a href='https://github.com/nothingrandom/website'>GitHub</a> and served by <a href='https://www.netlify.com/'>Netlify</a>.
      </div>
    </div>
  </div>
</div>