<div class='section section--footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-md-6'>
        <p>Say <a class='link-underline'>hello</a>, I promise I don't bite</p>
        {% include 'partials/social.njk' %}
      </div>
      <div class='col-xs-12 col-md-6'>
        <p>This site is built with <a href='https://www.11ty.io/'>eleventy</a>, <a href='https://github.com/chrisdmacrae/parceleventy/'>parceleleventy</a> & <a href='https://github.com/nothingrandom/barebonesio'>barebonesio</a>. It's hosted on <a href='https://github.com/nothingrandom/website'>GitHub</a> and served by <a href='https://www.netlify.com/'>Netlify</a>.
      </div>
    </div>
  </div>
</div>