<div class='menu__container'>
  <div class='container container-fluid'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='menu'>
          <a href="https://nothingrandom.com" class="logo color">
            <span>
              b<span class="collapse"><em>e</em><em>n</em><em>j</em><em>a</em><em>m</em><em>i</em><em>n</em></span>.
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>