<div class='menu__container'>
  <div class='container container-fluid'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='menu'>
          <a href="https://nothingrandom.com" class="logo color">
            <span>
              b<span class="collapse"><em style='display: none'>e</em><em style='display: none'>n</em><em style='display: none'>j</em><em style='display: none'>a</em><em style='display: none'>m</em><em style='display: none'>i</em><em style='display: none'>n</em></span>.
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>