<ul class='social'>
  <li><a href='https://github.com/nothingrandom'><i class='fab fa-github'></i></a></li>
  <li><a href='https://instagram.com/nothingrandom'><i class='fab fa-instagram'></i></a></li>
  <li><a href='https://open.spotify.com/user/nothingrandom'><i class='fab fa-spotify'></i></a></li>
</ul>