<ul class='social'>
  <li><a class='link--social' href='https://github.com/nothingrandom' aria-label='Find Benjamin on GitHub'><i class='fab fa-github'></i></a></li>
  <li><a class='link--social' href='https://instagram.com/nothingrandom' aria-label='Find Benjamin on Instagram'><i class='fab fa-instagram'></i></a></li>
  <li><a class='link--social' href='https://twitter.com/nothingrandom' aria-label='Find Benjamin on Twitter'><i class='fab fa-twitter'></i></a></li>
  <li><a class='link--social' href='https://open.spotify.com/user/nothingrandom' aria-label='Find Benjamin on Spotify'><i class='fab fa-spotify'></i></a></li>
  <li><a class='link--social' href='mailto:benjamin@nothingrandom.com?subject=Website%20Enquiry' aria-label='Email Benjamin'><i class='fal fa-envelope'></i></a></li>
</ul>