---
permalink: site.webmanifest
eleventyExcludeFromCollections: true
---
{
    "name": "{{ site.title }}",
    "short_name": "{{ site.short_name | default(site.title) }}",
    "start_url": "/",
    "display": "standalone",
    "theme_color": "#fff",
    "background_color": "#fff",
    "description": "{{ site.description }}"
}
