<ul class='social'>
  <li><a class='link--social' href='https://github.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on GitHub'><i class='fab fa-github'></i> Github - @nothingrandom</a></li>
  <li><a class='link--social' href='https://instagram.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Instagram'><i class='fab fa-instagram'></i> Instagram - @nothingrandom</a></li>
</ul>