<ul class='social'>
  <li><a class='link--social' href='https://github.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on GitHub'><i class='fab fa-github'></i> Github - @nothingrandom</a></li>
  <li><a class='link--social' href='https://www.linkedin.com/in/-benjamin-grant/' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Linkedin'><i class='fab fa-linkedin'></i> Linkedin - /-benjamin-grant</a></li>
  <li><a class='link--social' href='mailto:benjamin@nothingrandom.com' target='_blank' rel='noopener noreferrer' aria-label='Email Benjamin'><i class='fat fa-at'></i>benjamin@nothingrandom.com</a></li>
  <li><a class='link--social' href='https://b.nothingrandom.studio/' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin online'><i class='fat fa-id-card'></i>https://b.nothingrandom.studio</a></li>
</ul>