<div class='section section--footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-lg-8'>
        <div class='row'>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>&copy; 1997 - {{ '' | currentYear }}</h4>
            <p><a href='https://begrant.io'>Benjamin Grant</a></p>
          </div>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>Contact</h4>
            <p><a href='mailto:benjamin@nothingrandom.com?subject=Website%20Enquiry'>benjamin@nothingrandom.com</a></p>
          </div>
          <div class='col-xs-12 col-md-6 col-lg-4'>
            <h4>Social</h4>
            <p><a href='https://github.com/nothingrandom' target='_blank' rel='noopener noreferrer'>GitHub</a> / <a href='https://instagram.com/nothingrandom' target='_blank' rel='noopener noreferrer'>Instagram</a></p>
          </div>
        </div>
      </div>
      <div class='col-xs-12 col-lg-4'>
        <p class='footer__description'>
          This site is <i class='fa-thin fa-code'></i> with <i class='fa-thin fa-hands-holding-heart' style='--fa-primary-color: #E61E21; --fa-secondary-color: #CCA587; --fa-secondary-opacity: 1'></i> & <i class='fa-thin fa-coffee-pot' style='--fa-primary-color: #E61E21; --fa-secondary-color: #1F73BF; --fa-secondary-opacity: 1'></i> using <a href='https://www.11ty.io/'>eleventy</a> & <a href='https://github.com/nothingrandom/barebonesio'>barebonesio</a>. It's hosted on <a href='https://github.com/nothingrandom/website'>GitHub</a> & <a href='https://www.netlify.com/'>Netlify</a>.
      </div>
    </div>
  </div>
</div>