<div class='row center-md'>
  <div class='col-xs-12 col-md-6'>
    <div class='section__header text-left'>
      <h2>{{ title }}</h2>
    </div>
    <div class='section__intro text-left'>
      {{ header_content | safe }}
    </div>
  </div>
</div>