{% set menuList = [
  {
    id: 'home',
    name: 'Home',
    link: '/',
    color: '#72A25E'
  },
  {
    id: 'food',
    name: 'Food',
    link: '/food/',
    color: '#FFC72A'
  },
  {
    id: 'bio',
    name: 'Bio',
    link: '/bio/',
    color: '#FFD1DC'
  }
] %}

{# {
  id: 'blog',
  name: 'Blog',
  link: '/blog/',
  color: '#BCE784'
}, #}

<div class='menu__container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='menu'>
          {% if config.env === 'development' %}
            <a href='http://localhost:4000' class='link--exclude logo color'>
          {% else %}
            <a href='https://begrant.io' class='link--exclude logo color'>
          {% endif %}
            {% include 'partials/logo.njk' %}
          </a>
          <div class='menu__wrapper'>
            <input type='checkbox' id='menu-checkbox' class='menu__checkbox'>
            <label for='menu-checkbox' class='menu__icon'>
              <span>menu</span>
              <i class='fa-thin fa-burger-cheese'></i>
              <i class='fa-thin fa-xmark'></i>
            </label>
            <div class='menu__content' style='display: none'>
              <div class='menu__links'>
                <ul class='links'>
                  {% for nav in menuList %}
                    {% set isCurrent = (menukey === nav.id) %}
                    {% set isParent = nav.link != '/' and nav.link in page.url %}
                    <li class='menu__item {% if isCurrent or isParent %}menu__item--active{% endif %}' style='--hover-color: {{ nav.color }}'>
                      <a class='link--exclude' href='{{ nav.link }}'>
                        {{ nav.name }}
                      </a>
                    </li>
                  {% endfor %}
                  <li class='menu__item menu__item--search'>
                    <input class='toggle__input toggle__input--search' type='checkbox' id='toggle-search'>
                    <label class='toggle__label' for='toggle-search' style='--hover-color: #A3E7FC'>
                      <span class='toggle__label--off'>search <i class='fa-thin fa-search'></i></span>
                      <span class='toggle__label--on'>close <i class='fa-thin fa-search'></i></span>
                    </label>
                    <form action="https://duckduckgo.com/" method="get" autocomplete="off" class="search toggle__item">
                      <input type="hidden" name="sites" value="nothingrandom.com" />
                      <input type="hidden" name="k1" value="-1"/>
                      <input type="hidden" name="kae" value="d"/>
                      <input type="text" name="q" placeholder='Search...' id="search-input"></p>
                      <ul class='search-results'>
                      </ul>
                    </form>
                  </li>
                </ul>
                {# {% include 'partials/social.njk' %} #}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>