<img
  src='/img/profile-pic/350.jpg'
  data-sizes="auto"
  srcset='/img/profile-pic/350.jpg 350w,
          /img/profile-pic/500.jpg 500w,
          /img/profile-pic/750.jpg 750w,
          /img/profile-pic/1000.jpg 1000w'
  alt='A picture of Benjamin'
  class='base-image'
/>