<ul class='social'>
  <li><a class='link--social' href='https://github.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on GitHub'><i class='fab fa-github'></i> Github</a></li>
  <li><a class='link--social' href='https://instagram.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Instagram'><i class='fab fa-instagram'></i> Instagram</a></li>
  <li><a class='link--social' href='https://twitter.com/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Twitter'><i class='fab fa-twitter'></i> Twitter</a></li>
  <li><a class='link--social' href='https://music.apple.com/profile/nothingrandom' target='_blank' rel='noopener noreferrer' aria-label='Find Benjamin on Apple Music'><i class='fa-thin fa-music'></i> Apple Music</a></li>
  {# <li><a class='link--social' href='mailto:benjamin@nothingrandom.com?subject=Website%20Enquiry' aria-label='Email Benjamin'><i class='fal fa-envelope'></i></a></li> #}
</ul>